
mat-card {
  padding: 0;
  overflow: hidden;
  width: 80%;
  left: 10%;
  margin-top: 8%;
}

mat-table {
  width: 100%;
}

h1 {
  right: 42%;
  position: absolute;
  font-weight: normal;
  font-size: 16px;
  margin-bottom: 0;
  color: white;
}

.mat-fab-button{
  height: 30px;
  width: 30px;
}

.mat-icon-add {
  margin-top: -12px;
}


.containerbutton{
  touch-action: none;
  user-select: none;
  -webkit-user-drag: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  right: 12%;
  top: 8%;
  position: absolute;
}


.add-card {
  padding: 36px;
    overflow: hidden;
    width: 40%;
    left: 30%;
    margin-top: 5%;
}



mat-card-header {
  background-color: #2B363E;
    height: 36px;

}


.input-full-width{
  width: 100%;
}

mat-card-content {
  bottom: 14px;
    position: relative;
}

.containerbutton{
  touch-action: none;
  user-select: none;
  -webkit-user-drag: none;

 -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  right: 12%;
  top: 8%;
  position: absolute;

}




.controls {
  width: 70%;
}

.errorr{
  color: red;
}
