

     <button *ngIf="add" class="mat-fab-button containerbutton" mat-mini-fab color="primary" matTooltip="Add Product"
     (click)="addProductpenDialog()">
      <mat-icon class="mat-icon-add" aria-label="Example icon-button with a heart icon">add</mat-icon>
    </button>

    <button *ngIf="remove" class="mat-fab-button containerbutton" mat-mini-fab color="primary" matTooltip="Cancel"
     (click)="cancelTechnologyopenDialog()">
      <mat-icon class="mat-icon-add" aria-label="Example icon-button with a heart icon">remove</mat-icon>
    </button>

<mat-card *ngIf="showTable">
  <div [@flyInOut]="'in'">
    <mat-table #table matSort [dataSource]="MyTableDataSource">
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Sr.No
        </mat-header-cell>
        <mat-cell *matCellDef="let user; let i = index;"> </mat-cell>
      </ng-container>

      <ng-container matColumnDef="poem">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >OEM Name
        </mat-header-cell>
        <mat-cell *matCellDef="let user">  </mat-cell>
      </ng-container>

      <ng-container matColumnDef="tname">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Technology Name
        </mat-header-cell>
        <mat-cell *matCellDef="let user">  </mat-cell>
      </ng-container>

      <ng-container matColumnDef="pname">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Product Name
        </mat-header-cell>
        <mat-cell *matCellDef="let user"> </mat-cell>
      </ng-container>

      <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Description
        </mat-header-cell>
        <mat-cell *matCellDef="let user"> </mat-cell>
      </ng-container>

      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Action
        </mat-header-cell>
        <mat-cell *matCellDef="let user">


          <button mat-icon-button color="accent" matTooltip="Edit Department" (click)="editProductopenDialog(user)">
            <mat-icon aria-label="Example icon-button with a heart icon">edit</mat-icon>
          </button>&nbsp;

        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Status
          </mat-header-cell>
          <mat-cell *matCellDef="let user">

<!--
            <button mat-icon-button color="warn" matTooltip="Update Stauts">
              <mat-icon aria-label="Example icon-button with a heart icon" style="color:green"
               *ngIf="user.IsActive == 1" class="fa fa-check"  (click)="statuschange(user)"> </mat-icon>
              <mat-icon aria-label="Example icon-button with a heart icon"
               *ngIf="user.IsActive == 0" class="fa fa-stop"  (click)="statuschange(user)"></mat-icon>
            </button> -->

          </mat-cell>
        </ng-container>
      <mat-header-row
        *matHeaderRowDef="displayedColumns"

      ></mat-header-row>
      <mat-row
        *matRowDef="let row; columns: displayedColumns"

      ></mat-row>
    </mat-table>

    <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]">
    </mat-paginator>
  </div>
</mat-card>

 <mat-card class="add-card" *ngIf="show" [@flyInOut]="'in'">
    <mat-card-header>
        <mat-card-title><h1>{{cardName}}</h1></mat-card-title>
    </mat-card-header>
    <mat-card-content><br>
      <form [formGroup]="claimForm" novalidate>
          <mat-form-field class="input-full-width">
              <input matInput [matDatepicker]="picker" placeholder="Date" formControlName="claimDate" name="claimDate">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
       </mat-form-field>

          <mat-form-field class="input-full-width">
              <mat-select
                        placeholder="Choose Project"
                        name="project_name"
                        formControlName="project_name"
                        (selectionChange)="onProjectSelection($event.value)"
                         required
                      >
                      <mat-option>

                        </mat-option>
                      </mat-select>
          </mat-form-field>

<label>File Upload :</label><br>
          <input id="claimFile" name="claimFile" type="file" class="controls" (change)="fileChangeEvent($event)"
          [(ngModel)]="claimFile" [ngModelOptions]="{standalone: true}" placeholder="Upload a file..." multiple/>
          <button mat-raised-button color="primary" [disabled]="!claimFile"  (click)="uploadFile()">Upload</button><br>
          <p *ngIf="!claimFile" class="errorr">This field is required.</p>

           <mat-form-field class="input-full-width">
                <textarea
                matInput
                type="text"
                placeholder="Claim Description"
                formControlName="claimDescription"
                name="claimDescription"></textarea>
            </mat-form-field>


      </form>
    </mat-card-content>
    <mat-card-actions align="center">

        <button mat-raised-button *ngIf="submit" color="primary" [disabled]="claimForm.invalid" (click)="addclaimForm(claimForm.value)">Submit</button>
        <button mat-raised-button *ngIf="update" color="primary" [disabled]="claimForm.invalid" (click)="updateclaimForm(claimForm.value)">Update</button>

    </mat-card-actions>

</mat-card>



