<h1>ASSIGNED PROJECT DETAILS</h1>
<div class="content table-responsive table-full-width">
	<table class="table table-bordered table-sm">
		<thead class = "thead-light">
			<tr>
				<th>Sr. No.</th>
				<th>Organization</th>
				<th>PROJECT</th>
        <th>TECHNOLOGY</th>
        <th>LEVEL</th>
				<th>EMPLOYEE</th>
			</tr>
      </thead>
      <tr>
          <td></td>

        <td><input [(ngModel)]="Organization"  class="form-control" placeholder="Search.." ></td>
        <td><input [(ngModel)]="project"  class="form-control" placeholder="Search.." ></td>
        <td><input [(ngModel)]="technology"  class="form-control" placeholder="Search.." ></td>
        <td><input [(ngModel)]="level"  class="form-control" placeholder="Search.." ></td>
        <td><input [(ngModel)]="emp"  class="form-control" placeholder="Search.." ></td>
      </tr>
			<tr *ngFor="let product of projectdet | filter: {orgName: Organization} | filter: {projectName: project} | filter: {techName: technology} | filter: {comptenceName: level} | filter: { employeeName : emp} | paginate: { itemsPerPage: 10, currentPage: p }  ; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ product.orgName }}</td>
				<td>{{ product.projectName }}</td>
				<td>{{ product.techName }}</td>
				<td>{{ product.comptenceName }}</td>
				<td>{{ product.employeeName }}</td>
      </tr>
  </table>
  <pagination-controls class="pagination" (pageChange)="p = $event"></pagination-controls>
</div>

