.content{
    margin:0px;
    padding:30px;
    
    }
    h1{
    margin-top:10px;
    font-size:28px;
    text-align:center;
    text-decoration:underline;
    }
    h3{
    margin-top:10px;
    font-size:20px;
    text-align:center;
    color:#2199e8;
    font-weight: bold;
    text-decoration:underline;
    }
    .pagination{
    margin-top:10px;
    right:0px;
    }