<h1>EMPLOYEE PROJECT LIST</h1>
<div class="content table-responsive table-full-width">
	<table class="table table-bordered table-sm">
		<thead class = "thead-light">
			<tr>
				<th>Sr. No.</th>
				<th>PROJECT NAME</th>
        <th>PROJECT START DATE</th>
        <th>PROJECT END DATE</th>
        <!-- <th>EMAIL</th> -->
        <!-- <th>CONTACT</th> -->
        <th>CITY</th>
        <th>STATE</th>
        <th>COUNTRY</th>
        <th>DETAILS</th>

			</tr>
      </thead>
      <!-- <tr>
          <td></td>
        <td><input [(ngModel)]="emp"  class="form-control" placeholder="Search.." ></td>
        <td><input [(ngModel)]="email"  class="form-control" placeholder="Search.." ></td>
        <td><input [(ngModel)]="cont"  class="form-control" placeholder="Search.." ></td>
        <td><input [(ngModel)]="tech"  class="form-control" placeholder="Search.." ></td>
        <td><input [(ngModel)]="compt"  class="form-control" placeholder="Search.." ></td>
      </tr> -->
			<tr *ngFor="let product of projectList | filter: {Employee: emp} | paginate: { itemsPerPage: 10, currentPage: p }  ; let i = index">
				<td>{{ i + 1 }}</td>
				<td>{{ product.PRJ_Name }}</td>
        <td>{{ product.frm }}</td>
        <td>{{ product.tod }}</td>
        <!-- <td>{{ product.email }}</td> -->
				<!-- <td>{{ product.contact }}</td> -->
        <td>{{ product.city }}</td>
        <td>{{ product.State_Name }}</td>
        <td>{{ product.country }}</td>
        <td><button class="form-control btn btn-primary btn-sm" (click)="openDialogDetails(product)">View</button></td>

      </tr>
  </table>
  <pagination-controls class="pagination" (pageChange)="p = $event"></pagination-controls>
</div>
