

 <!-- <mat-form-field>
  <input
  matInput
  (keyup)="applyFilter($event.target.value)"
  type="text"
  placeholder="Search"/><br> -->
      <button class="mat-fab-button containerbutton" mat-mini-fab color="primary" matTooltip="Add Department" (click)="addDepartmentopenDialog()">
        <mat-icon class="mat-icon-add" aria-label="Example icon-button with a heart icon">add</mat-icon>
      </button>

      <!-- <mat-form-field>
        <input
        matInput
        (keyup)="applyFilter($event.target.value)"
        type="text"
        placeholder="Search"/> -->
<mat-card>
  <div [@flyInOut]="'in'">
    <mat-table #table matSort [dataSource]="MyDataSource">
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Sr.No
        </mat-header-cell>
        <mat-cell *matCellDef="let user; let i = index;"> {{ i+1 }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="dname">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Department Name
        </mat-header-cell>
        <mat-cell *matCellDef="let user"> {{ user.DEPT_Name }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Description
        </mat-header-cell>
        <mat-cell *matCellDef="let user" matTooltip="{{ user.DEPT_Desc }}">
            {{(user.DEPT_Desc)? (user.DEPT_Desc | slice:0:40)+'...':(user.DEPT_Desc)}}

        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Action
        </mat-header-cell>
        <mat-cell *matCellDef="let user">

          <button mat-icon-button color="accent" matTooltip="Edit Department" (click)="editDepartmentopenDialog(user)">
            <mat-icon aria-label="Example icon-button with a heart icon">edit</mat-icon>
          </button>&nbsp;
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Status
        </mat-header-cell>
        <mat-cell *matCellDef="let user">


          <button mat-icon-button color="warn" matTooltip="Update Stauts">
            <mat-icon aria-label="Example icon-button with a heart icon" style="color:green" *ngIf="user.DEPT_Status == 1"
            class="fa fa-check"  (click)="statuschange(user)"> </mat-icon>
            <mat-icon aria-label="Example icon-button with a heart icon" *ngIf="user.DEPT_Status == 0"
            class="fa fa-stop"  (click)="statuschange(user)"></mat-icon>
          </button>

        </mat-cell>
      </ng-container>

      <mat-header-row
        *matHeaderRowDef="displayedColumns"
      ></mat-header-row>
      <mat-row
        *matRowDef="let row; columns: displayedColumns"

      ></mat-row>
    </mat-table>

    <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]">
    </mat-paginator>

  </div>
</mat-card>

