

     <button *ngIf="add" class="mat-fab-button containerbutton" mat-mini-fab color="primary" matTooltip="Add Product"
     (click)="addProductpenDialog()">
      <mat-icon class="mat-icon-add" aria-label="Example icon-button with a heart icon">add</mat-icon>
    </button>

    <button *ngIf="remove" class="mat-fab-button containerbutton" mat-mini-fab color="primary" matTooltip="Cancel"
     (click)="cancelTechnologyopenDialog()">
      <mat-icon class="mat-icon-add" aria-label="Example icon-button with a heart icon">remove</mat-icon>
    </button>

<mat-card *ngIf="showTable">
  <div [@flyInOut]="'in'">
    <mat-table #table matSort [dataSource]="MyTableDataSource">
      <ng-container matColumnDef="department">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Department
        </mat-header-cell>
        <mat-cell *matCellDef="let hire"> {{ hire.DEPT_Name }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Technology">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Technology
        </mat-header-cell>
        <mat-cell *matCellDef="let hire"> {{hire.TECH_Name}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="level">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Position
        </mat-header-cell>
        <mat-cell *matCellDef="let hire"> {{hire.COMPETENCE_Name}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="noofemp">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >No Of Employee
        </mat-header-cell>
        <mat-cell *matCellDef="let hire"> {{hire.HIRE_NOOFEMP }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="fromdate">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          From Date
        </mat-header-cell>
        <mat-cell *matCellDef="let hire"> {{hire.HIRE_UPTODATE | date}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Action
        </mat-header-cell>
        <mat-cell *matCellDef="let hire">

          <!-- (click)="editProductopenDialog(hire) -->
          <button mat-icon-button color="accent" matTooltip="Edit Department">
            <mat-icon aria-label="Example icon-button with a heart icon"  (click)="editHireData(hire)">edit</mat-icon>
          </button>&nbsp;

        </mat-cell>
      </ng-container>

      <mat-header-row
        *matHeaderRowDef="displayedColumns"

      ></mat-header-row>
      <mat-row
        *matRowDef="let row; columns: displayedColumns"

      ></mat-row>
    </mat-table>

    <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]">
    </mat-paginator>
  </div>
</mat-card>

<!-- department: ['', Validators.required],
     technology: ['', Validators.required],
     experties: ['', Validators.required],
     noofemploy: ['', Validators.required],
     fromdate: -->
 <mat-card class="add-card" *ngIf="show" [@flyInOut]="'in'">

    <mat-card-header>
        <mat-card-title>{{cardName}}</mat-card-title>
    </mat-card-header>
    <mat-card-content><br>
      <form [formGroup]="hireForm" novalidate>
        <mat-form-field class="input-full-width">
          <mat-select
          placeholder="Choose Department"
          name="department"
          formControlName="department"
          (selectionChange)="onDepartmentSelection($event.value)"
          required
        >
          <mat-option
            *ngFor="let dvalue of departments"
            [value]="dvalue.id"
          >
            {{ dvalue.Name1 }}
          </mat-option>
        </mat-select>
        </mat-form-field><br>

          <mat-form-field class="input-full-width">
              <mat-select
                        placeholder="Choose Technology"
                        name="technology"
                        formControlName="technology"
                        (selectionChange)="onTechnologySelection($event.value)"
                        required
                      >
                      <mat-option *ngFor="let tech of techData" [value]="tech.TECH_ID">
                          {{ tech.TECH_Name }}
                        </mat-option>
                      </mat-select>
          </mat-form-field>

          <mat-form-field class="input-full-width">
            <mat-select
            placeholder="Choose Position"
            name="experties"
            formControlName="experties"
            (selectionChange)="onExpertiesSelection($event.value)"
            required
          >
            <mat-option
              *ngFor="let posvalue of compitanceData"
              [value]="posvalue.COMPETENCE_Id"
            >
              {{ posvalue.COMPETENCE_Name }}
            </mat-option>
          </mat-select>
          </mat-form-field>
<!-- {{fromdate | date}} -->
          <mat-form-field class="input-full-width">
              <input type="number" formControlName="noofemploy" matInput placeholder="No Of Employee">

            </mat-form-field><br>

            <mat-form-field class="input-full-width">
              <input matInput [matDatepicker]="picker" placeholder="From Date"
              [(ngModel)]="fromdate" [ngModelOptions]="{standalone: true}" [value]="fromdate"
                name="fromdate" required readonly>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>

            </mat-form-field>

      </form>
    </mat-card-content>
    <mat-card-actions align="center">
        <button mat-raised-button *ngIf="update" [disabled]="hireForm.invalid" color="primary" (click)="updateHireForm(hireForm.value)">Update</button>

        <button mat-raised-button *ngIf="submit" [disabled]="hireForm.invalid" (click)="addHireForm(hireForm.value)" color="primary">Submit</button>

    </mat-card-actions>

</mat-card>
<!-- (click)="addprouctForm(productForm.value)" -->
<!-- (click)="updateproductForm(productForm.value)" -->
<!-- (dateChange)="getFromdate($event.target.value)" -->
