

      <button class="mat-fab-button containerbutton" mat-mini-fab color="primary" matTooltip="Add Oem"
      (click)="addRoleopenDialog()">
        <mat-icon class="mat-icon-add" aria-label="Example icon-button with a heart icon">add</mat-icon>
      </button>


<mat-card>
  <div [@flyInOut]="'in'">
    <mat-table #table matSort [dataSource]="MyTableData">
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Sr.No
        </mat-header-cell>
        <mat-cell *matCellDef="let roll; let i = index;"> {{ i+1 }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="rolename">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Role Name
        </mat-header-cell>
        <mat-cell *matCellDef="let roll"> {{roll.RoleName}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="roledesc">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Role Description
        </mat-header-cell>
        <mat-cell *matCellDef="let roll"> {{roll.RoleDescription}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Action
        </mat-header-cell>
        <mat-cell *matCellDef="let roll">

          <button mat-icon-button color="accent" matTooltip="Edit Department" (click)="editRoleopenDialog(roll)">
            <mat-icon aria-label="Example icon-button with a heart icon">edit</mat-icon>
          </button>&nbsp;

        </mat-cell>
      </ng-container>

      <mat-header-row
        *matHeaderRowDef="displayedColumns"

      ></mat-header-row>
      <mat-row
        *matRowDef="let row; columns: displayedColumns"

      ></mat-row>
    </mat-table>

    <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]">
    </mat-paginator>

    <!-- <mat-paginator
      [length]="totalRecords"
      [pageSizeOptions]="[5, 10, 20, 30]"
      (page)="getServer($event)"
      showFirstLastButtons
    ></mat-paginator> -->
  </div>
</mat-card>

