<h1>BENCH EMPLOYEE LIST</h1>
<div class="content table-responsive table-full-width">
	<table class="table table-bordered table-sm">
		<thead class = "thead-light">
			<tr>
				<th>Sr. No.</th>
				<th>EMPLOYEE</th>
        <th>EMAIL</th>
        <th>CONTACT</th>
        <th>TECHNOLOGY</th>
        <th>COMPETENCE</th>
			</tr>
      </thead>
      <tr>
          <td></td>
        <td><input [(ngModel)]="emp"  class="form-control" placeholder="Search.." ></td>
        <td><input [(ngModel)]="email"  class="form-control" placeholder="Search.." ></td>
        <td><input [(ngModel)]="cont"  class="form-control" placeholder="Search.." ></td>
        <td><input [(ngModel)]="tech"  class="form-control" placeholder="Search.." ></td>
        <td><input [(ngModel)]="compt"  class="form-control" placeholder="Search.." ></td>
    
      </tr>
			<tr *ngFor="let product of EmployeeList | filter: {Employee: emp}  | filter: {contact: cont} | filter: {Email: email} | filter: {Technology: tech}  | filter: {Competence: compt}  | filter: {Competence: level}  | paginate: { itemsPerPage: 10, currentPage: p }  ; let i = index">
				<td>{{ i + 1 }}</td>
				<td>{{ product.Employee }}</td>
        <td>{{ product.Email }}</td>
        <td>{{ product.contact }}</td>
				<td>{{ product.Technology }}</td>
				<td>{{ product.Competence }}</td>

      </tr>
  </table>
  <pagination-controls class="pagination" (pageChange)="p = $event"></pagination-controls>
</div>
