<button class="button" *ngIf="addbutton" mat-raised-button color="primary" (click)="addNewemployee()"
  [@flyInOut]="'in'">
  <mat-icon>add</mat-icon>
  Add New
</button>

<button class="button" *ngIf="cancelbutton" mat-raised-button color="primary" (click)="cancelAddemployee()"
  [@flyInOut]="'in'">
  <mat-icon>cancel</mat-icon>
  Cancel
</button>
<div class="grid-container">
  <div class="row middle-xs middle-sm middle-md middle-lg user-row">
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7 filter-col">
        <mat-form-field style="top: 29px; ">
            <input
            matInput
            (keyup)="applyFilter($event.target.value)"
            type="text"
            placeholder="Search"/>
          </mat-form-field>
    </div>
    <div class="col-xs-12 col-sm-1 col-md-1 col-lg-1 filter-icon-col">

    </div>
    <div class="col-xs-12 col-sm-1 col-md-1 col-lg-1 user-btn-col">

    </div>
  </div>

  <mat-card>

    <div *ngIf="showEmptable" [@flyInOut]="'in'">
      <mat-table #table matSort [dataSource]="MyTableData">
        <ng-container matColumnDef="org">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Customer
          </mat-header-cell>
          <mat-cell *matCellDef="let user"> {{ user.OrgName }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="porjectName">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Project
          </mat-header-cell>
          <mat-cell matTooltip="{{ user.porjectName }}" *matCellDef="let user">
              {{(user.porjectName)? (user.porjectName | slice:0:10)+'...':(user.porjectName)}}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="department">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Department
          </mat-header-cell>
          <mat-cell *matCellDef="let user"> {{ user.department }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="technology">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Technology
          </mat-header-cell>
          <mat-cell *matCellDef="let user">{{ user.technology }} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="level">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Level
          </mat-header-cell>
          <mat-cell *matCellDef="let user">{{ user.level }} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="fdate">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Form Date
          </mat-header-cell>
          <mat-cell *matCellDef="let user">{{ user.fdate }} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="tdate">
          <mat-header-cell *matHeaderCellDef mat-sort-header>To Date
          </mat-header-cell>
          <mat-cell *matCellDef="let user">{{ user.tdate }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="proj_pm">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Project Manager
          </mat-header-cell>
          <mat-cell *matCellDef="let user">{{ user.PMName }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="proj_tm">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Technical Manager
          </mat-header-cell>
          <mat-cell *matCellDef="let user">{{ user.TMName }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Action
          </mat-header-cell>
          <mat-cell *matCellDef="let user">
            <button mat-icon-button color="accent" matTooltip="Edit Employee" (click)="editProjectdetails(user)">
              <mat-icon aria-label="Example icon-button with a heart icon">edit</mat-icon>
            </button>
            <!-- <button mat-icon-button color="warn" matTooltip="Delete Department">
              <mat-icon aria-label="Example icon-button with a heart icon" (click)="confirmOpenDialog(user)">delete
              </mat-icon>
            </button> -->
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns" style="text-align:center;"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns" style="text-align:center;"></mat-row>
      </mat-table>

      <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]">
      </mat-paginator>

    </div>

    <div *ngIf="showAddempform" [@flyInOut]="'in'">
      <form [formGroup]="projectFormGroup" novalidate (ngSubmit)="submit(projectFormGroup.value)">
        <ng-template>Organization Requirment Details</ng-template>

        <div class="container">
          <div class="row">
            <h2 style="text-align:left;">Project</h2>
          </div>

          <div class="row">
            <mat-form-field class="full-with-field ">
              <mat-select placeholder="Choose Customer" name="Organization" formControlName="Organization"
              (selectionChange)="onCustomerSelection($event.value)"
              required>
                <mat-option *ngFor="let org of organizationList" [value]="org.id">
                  {{ org.OrgName }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="submitted && f.Organization.errors">
                <mat-error *ngIf="f.Organization.errors.required">Customer Name is mandatory*</mat-error>
              </mat-error>
            </mat-form-field>

            <mat-form-field class="full-with-field  mat-form-field2">
              <mat-select placeholder="Choose Department" name="department" formControlName="department"
              (selectionChange)="onDepartmentSelection($event.value)"
              required>
                <mat-option *ngFor="let depart of departmentModelData" [value]="depart.DEPT_ID">
                  {{ depart.DEPT_Name }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="submitted && f.department.errors">
                <mat-error *ngIf="f.department.errors.required">Department Name is mandatory*</mat-error>
              </mat-error>
            </mat-form-field>

          </div>

          <div class="row">
            <mat-form-field class="full-with-field ">
              <input matInput type="text" name="projectName" formControlName="projectName"
              placeholder="Project Name " />
            <mat-error *ngIf="submitted && f.projectName.errors">
              <mat-error *ngIf="f.projectName.errors.required">Project Name is mandatory*</mat-error>
            </mat-error>
            </mat-form-field>


            <mat-form-field class="full-with-field  mat-form-field2">
              <input matInput type="text" (keydown.space)="$event.preventDefault()" name="pcode"
                formControlName="pcode" placeholder="Project Code" />
              <mat-error *ngIf="submitted && f.pcode.errors">
                <mat-error *ngIf="f.pcode.errors.required">Project Code is mandatory*</mat-error>
              </mat-error>

            </mat-form-field>


          </div>

          <div class="row">
            <mat-form-field class="full-with-field">

                <input matInput [matDatepicker]="picker" [max]="tdate" placeholder="From Date"
                [(ngModel)]="fdate" [ngModelOptions]="{standalone: true}" [value]="fdate"
                  name="fdate" required readonly>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>

                <!-- <mat-error *ngIf="submitted && f.fdate.errors">
                  <mat-error *ngIf="f.fdate.errors.required">From Date is mandatory*</mat-error>
                </mat-error> -->
            </mat-form-field>



            <mat-form-field class="full-with-field mat-form-field2">

              <input matInput [matDatepicker]="picker1" [min]="fdate" placeholder="To Date"
              [(ngModel)]="tdate" [ngModelOptions]="{standalone: true}" [value]="tdate"
                name="tdate" required readonly>
              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>


              <!-- <mat-error *ngIf="submitted && f.tdate.errors">
                <mat-error *ngIf="f.tdate.errors.required">To Date is mandatory*</mat-error>
              </mat-error> -->
            </mat-form-field>
          </div>


          <div class="row">
              <mat-form-field class="full-with-field">
                <mat-select
                placeholder="Choose Country"
                name="country"
                formControlName="country"
                (selectionChange)="onCountrySelection($event.value)"
                required
              >
                <mat-option
                  *ngFor="let cvalue of countryData"
                  [value]="cvalue.Country_Id"
                >
                  {{ cvalue.Country_Name }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="submitted && f.country.errors">
                <mat-error *ngIf="f.country.errors.required"
                  >Country is mandatory*</mat-error
                >
              </mat-error>
              </mat-form-field>

              <mat-form-field class="full-with-field mat-form-field2">
                <mat-select
                  placeholder="Choose State"
                  name="state"
                  formControlName="state"
                  (selectionChange)="onStateSelection($event.value)"
                  required
                >
                  <mat-option
                    *ngFor="let svalue of stateData"
                    [value]="svalue.State_Id"
                  >
                    {{ svalue.State_Name }}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="submitted && f.state.errors">
                  <mat-error *ngIf="f.state.errors.required"
                    >State is mandatory*</mat-error
                  >
                </mat-error>
              </mat-form-field>
            </div>

          <div class="row">
              <mat-form-field class="full-with-field">
                  <mat-select
                  placeholder="Choose City"
                  name="city"
                  formControlName="city"
                  (selectionChange)="onCitySelection($event.value)"
                  required
                >
                  <mat-option
                    *ngFor="let cvalue of cityData"
                    [value]="cvalue.CITY_ID"
                  >
                    {{ cvalue.City_Name }}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="submitted && f.city.errors">
                  <mat-error *ngIf="f.city.errors.required"
                    >City is mandatory*</mat-error
                  >
                </mat-error>
                </mat-form-field>

            <mat-form-field class="full-with-field mat-form-field2">
              <textarea
                matInput
                type="text"
                minlength="3"
                maxlength="30"
                (keydown.space)="$event.preventDefault()"
                name="address"
                formControlName="address"
                placeholder="Address :"
              ></textarea>
            </mat-form-field>

          </div>

          <div class="row">
              <mat-form-field class="full-with-field">
                  <mat-select
                  placeholder="Choose Delivery Model"
                  name="dmodel"
                  formControlName="dmodel"
                  (selectionChange)="onDeliveryModelSelection($event.value)"
                  required
                >
                  <mat-option
                    *ngFor="let dvalue of deliverModelData"
                    [value]="dvalue.DeliveryModel_Id"
                  >
                    {{ dvalue.DeliveryModel_Name }}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="submitted && f.department.errors">
                  <mat-error *ngIf="f.department.errors.required"
                    >City is mandatory*</mat-error
                  >
                </mat-error>
                </mat-form-field>

            <mat-form-field  class="full-with-field mat-form-field2">
               <mat-select
                  placeholder="Choose Status"
                  name="isActive"
                  formControlName="isActive"
                  (selectionChange)="onProjectStatusSelection($event.value)"
                  required
                >
                  <mat-option
                    *ngFor="let projectValue of projectStatusData"
                    [value]="projectValue.ProjectStatus_Id"
                  >
                    {{ projectValue.ProjectStatus_Name }}
                  </mat-option>
                </mat-select>
                <!-- <mat-error *ngIf="submitted && f.department.errors">
                  <mat-error *ngIf="f.department.errors.required"
                    >City is mandatory*</mat-error
                  >
                </mat-error> -->
            </mat-form-field>
          </div>

          <div class="row">
             <div class="col-md-12">
                <mat-form-field class="text-area">
                    <textarea
                      matInput
                      type="text"
                      minlength="3"
                      maxlength="3000"
                      placeholder="Project Information ..."
                      formControlName="projectInfo"
                      name="projectInfo"
                    ></textarea>
                  </mat-form-field>
             </div>
          </div>
          <mat-divider></mat-divider><br>

          <div class="row">
            <h2 style="text-align:left;">Choose Technology</h2>
          </div>

          <div class="row">
            <mat-form-field class="full-with-field" style="width:30%;padding: 10px">
              <mat-select placeholder="Choose Technology" name="technology"
              formControlName="technology"
              (selectionChange)="skils.techid=projectFormGroup.value.technology.TECH_ID;skils.techname=projectFormGroup.value.technology.TECH_Name;changecheck(projectFormGroup.value);"
              >
                <mat-option *ngFor="let techvalue of technologyModelData" [value]="techvalue">
                  {{ techvalue.TECH_Name }}
                </mat-option>
              </mat-select>
              <!-- <mat-error *ngIf="submitted && f.technology.errors">
                <mat-error *ngIf="f.technology.errors.required">Technology is mandatory*</mat-error>
              </mat-error> -->
            </mat-form-field>

            <mat-form-field class="" style="width:30%;padding: 10px">
              <mat-select placeholder="Choose Position" name="positions" formControlName="positions"
              (selectionChange)="skils.comptid=projectFormGroup.value.positions.COMPETENCE_Id;skils.comptname=projectFormGroup.value.positions.COMPETENCE_Name"
              >
                <mat-option *ngFor="let posvalue of compitanceModelData" [value]="posvalue">
                  {{ posvalue.COMPETENCE_Name }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field class="" style="width:30%;padding: 10px">
              <input matInput type="number" name="count" formControlName="count" placeholder="No of Requirment" />
            </mat-form-field>

            <button type="button" class="mat-fab-button" mat-mini-fab color="primary" matTooltip="Add More"
              (click)="adddata()">
              <mat-icon class="mat-icon-add" aria-label="Example icon-button with a heart icon">add</mat-icon>
            </button>
          </div>
          <br>
          <div *ngIf="tableShow" class="content table-responsive table-full-width">
            <table class="table table-bordered table-sm">
              <thead class="thead-light">
                <tr>
                  <th>Sr. No.</th>
                  <th>TECHNOLOGY</th>
                  <th>POSITION</th>
                  <th>COUNT</th>
                  <th>MANAGE</th>
                </tr>
              </thead>
              <tr *ngFor="let product of projectdetails  ; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ product.techname }}</td>
                <td>{{ product.comptname }}</td>
                <td>{{ product.count }}</td>

                <td><button mat-mini-fab color="warn" (click)="removeparticular(i)">
                    <mat-icon>delete</mat-icon>
                  </button></td>
              </tr>
            </table>
          </div><br>

          <!-- <div *ngIf="tableShow && tableID==0" class="content table-responsive table-full-width">
            <table class="table table-bordered table-sm">
              <thead class="thead-light">
                <tr>
                  <th>Sr. No.</th>
                  <th>TECHNOLOGY</th>
                  <th>POSITION</th>
                  <th>MANAGE</th>
                </tr>
              </thead>
              <tr *ngFor="let product of projectdetails  ; let i = index">
                  <td>{{ i + 1 }}</td>
                  <td>{{ product.technology }}</td>
                  <td>{{ product.level }}</td>

                <td><button mat-mini-fab color="warn" (click)="removeparticular(i)">
                    <mat-icon>delete</mat-icon>
                  </button></td>
              </tr>
            </table>
          </div><br> -->

          <mat-divider mat-inset></mat-divider><br>
          <div class="row">
            <h2 style="text-align:left;">Technology Assignment</h2>
          </div>

          <div class="row">
            <mat-form-field class="full-with-field">
              <mat-select placeholder=" Assign Technical Manager" name="as_tech_mgr" formControlName="as_tech_mgr"
              (selectionChange)="onAsTechMgrSelection($event.value)"
              required>
                <mat-option *ngFor="let techvalue of empData" [value]="techvalue.id">
                  {{ techvalue.fname }} {{ techvalue.lname }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="submitted && f.as_tech_mgr.errors">
                <mat-error *ngIf="f.as_tech_mgr.errors.required">Technical Manager is mandatory*</mat-error>
              </mat-error>
            </mat-form-field>

            <mat-form-field class="full-with-field  mat-form-field2">
              <mat-select placeholder=" Assign Project Manager" name="prj_mgr" formControlName="prj_mgr"
              (selectionChange)="onAsProjMgrSelection($event.value)"
              required>
                <mat-option *ngFor="let techvalue of empData" [value]="techvalue.id">
                  {{ techvalue.fname }} {{ techvalue.lname }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="submitted && f.prj_mgr.errors">
                <mat-error *ngIf="f.prj_mgr.errors.required">Project Manager is mandatory*</mat-error>
              </mat-error>
            </mat-form-field>
          </div><br>
          <button mat-raised-button color="primary" *ngIf="saveID">
            Save
          </button>

        </div>
      </form>
      <button *ngIf="update" mat-raised-button color="primary"  (click)="updateProject(projectFormGroup.value)">
          Update
        </button>
    </div>
  </mat-card>
</div>
