:host ::ng-deep .mat-dialog-container {
  box-shadow: 0 11px 15px -7px rgba(0,0,0,.2), 0 24px 38px 3px rgba(0,0,0,.14), 0 9px 46px 8px rgba(0,0,0,.12);
  display: block;
  padding: 24px;
  border-radius: 2px;
  box-sizing: border-box;
  overflow: auto;
  outline: 0;
  display: contents !important;
  width: 100%;
  height: 100%;
  background-color: lightgray;
  min-height: inherit;
  max-height: inherit;
}


mat-card-title {
  background-color: #2B363E;
  color: #ffffff;
  padding: 7px 210px;
  font-weight: normal;
  font-size: 16px;
  margin-bottom: 0;
}


.form-full-width {
  min-width: 150px;
  max-width: 500px;
  width:100%;
}

.input-full-width {
  width:800px;
}

.mat-form-field.mat-form-field {
  width: 100%;
}
