<mat-card>
  <mat-card-header>
    <mat-card-title>{{dialogName}}
    </mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
  </mat-card-header>

  <mat-card-content *ngIf="dialogId==1"><br>
    <form [formGroup]="departmentForm" novalidate>
      <mat-form-field class="input-full-width">
        <input type="text" formControlName="dname" matInput placeholder="Enter Department Name">
        <mat-hint>Enter a unique name.</mat-hint>
      </mat-form-field>

      <mat-form-field class="input-full-width">
        <input type="text" formControlName="ddesc" matInput placeholder="Enter Department Description">
        <mat-hint>Enter a Description.</mat-hint>
      </mat-form-field>
    </form>
  </mat-card-content>

  <mat-card-content *ngIf="dialogId==2"><br>
    <form [formGroup]="expertiesForm" novalidate>
        <mat-form-field class="input-full-width">
            <input type="text" formControlName="exname" matInput placeholder="Enter Experties Name">
            <mat-hint>Enter a unique name.</mat-hint>
          </mat-form-field>

          <mat-form-field class="input-full-width">
            <input type="text" formControlName="exdesc" matInput placeholder="Enter Experties Description">
            <mat-hint>Enter a Description.</mat-hint>
          </mat-form-field>
    </form>
  </mat-card-content>

  <mat-card-content *ngIf="dialogId==3"><br>
    <form [formGroup]="designationForm" novalidate>
      <mat-form-field class="input-full-width">
        <input type="text" formControlName="designame" matInput placeholder="Enter Designation Name">
        <mat-hint>Enter a unique name.</mat-hint>
      </mat-form-field>

      <mat-form-field class="input-full-width">
        <input type="text" formControlName="desigdesc" matInput placeholder="Enter Designation Description">
        <mat-hint>Enter a Description.</mat-hint>
      </mat-form-field>
    </form>
  </mat-card-content>

  <mat-card-content *ngIf="dialogId==4"><br>
    <form [formGroup]="oemForm" novalidate>
      <mat-form-field class="input-full-width">
        <input type="text" formControlName="oname" matInput placeholder="Enter
      OEM Name">
        <mat-hint>Enter a unique name.</mat-hint>
      </mat-form-field>

      <mat-form-field class="input-full-width">
        <input type="text" formControlName="odesc" matInput placeholder="Enter OEM Description">
        <mat-hint>Enter a Description.</mat-hint>
      </mat-form-field>
    </form>
  </mat-card-content>

  <mat-card-content *ngIf="dialogId==5"><br>
    <form [formGroup]="productForm" novalidate>

        <mat-form-field class="input-full-width">
            <mat-select
            placeholder="Choose OEM"
            formControlName="oem_id"
            (selectionChange)="onOemSelection($event.value)"
            required
          >
          <mat-option *ngFor="let oem of oemData" [value]="oem.OEM_ID">
            {{ oem.OEM_Name }}
          </mat-option>
          </mat-select>
        </mat-form-field>


      <mat-form-field class="input-full-width">
        <input type="text" formControlName="productname" matInput placeholder="Enter
      Product Name">
        <mat-hint>Enter a unique name.</mat-hint>
      </mat-form-field>


      <mat-form-field class="input-full-width">
        <input type="text" formControlName="productdesc" matInput placeholder="Enter Product Description">
        <mat-hint>Enter a Description.</mat-hint>
      </mat-form-field>
    </form>
  </mat-card-content>

  <mat-card-actions align="center">
    <button mat-stroked-button color="primary" (click)="closeDialog()">Cancel</button>&nbsp;&nbsp;

    <!-- Department action -->
    <button *ngIf="!DEPT_ID && dialogId==1" mat-stroked-button color="primary" [disabled]="departmentForm.invalid"
      (click)="submitDept(departmentForm.value)">Submit</button>
    <button *ngIf="DEPT_ID == 11 && dialogId==1" mat-stroked-button color="primary"
      (click)="updateDept(departmentForm.value)" [disabled]="departmentForm.invalid">Update</button>

      <!-- Experties action -->
    <button *ngIf="!DEPT_ID && dialogId==2" mat-stroked-button color="primary" [disabled]="expertiesForm.invalid"
      (click)="submitExperties(expertiesForm.value)">Submit</button>
    <button *ngIf="DEPT_ID == 22 && dialogId==2" mat-stroked-button color="primary"
      (click)="updateExperties(expertiesForm.value)" [disabled]="expertiesForm.invalid">Update</button>

      <!-- Designation action -->
    <button *ngIf="!DEPT_ID && dialogId==3" mat-stroked-button color="primary" [disabled]="designationForm.invalid"
      (click)="submitDesign(designationForm.value)">Submit</button>
    <button *ngIf="DEPT_ID == 33 && dialogId==3" mat-stroked-button color="primary"
      (click)="updateDesign(designationForm.value)" [disabled]="designationForm.invalid">Update</button>

      <!-- OEM action -->
    <button *ngIf="!DEPT_ID && dialogId==4" mat-stroked-button color="primary" [disabled]="oemForm.invalid"
      (click)="submitOem(oemForm.value)">Submit</button>
    <button *ngIf="DEPT_ID == 44 && dialogId==4" mat-stroked-button color="primary"
      (click)="updateoem(oemForm.value)" [disabled]="oemForm.invalid">Update</button>

      <!-- Product action -->
    <button *ngIf="!DEPT_ID && dialogId==5" mat-stroked-button color="primary"
      (click)="submitProduct(productForm.value)">Submit</button>
    <button *ngIf="DEPT_ID == 55 && dialogId==5" mat-stroked-button color="primary"
      (click)="updateProduct(productForm.value)">Update</button>

  </mat-card-actions>
</mat-card>
