
<div class="portal-accent-bg portal-login-container" fxLayoutAlign="center center" fxLayoutAlign.lt-sm="none">
  <!-- <h1>RESOURCE METRICS</h1> -->
  <mat-card class="portal-login-card mat-elevation-z"
    fxFlex="100"
    fxFlex.md="80"
    fxFlex.gt-md="30"
    fxLayout.lt-sm="column">

    <mat-card-content
      fxFlex="auto"
      fxFlex.gt-sm="100%"
      fxLayout="column"
      fxLayoutAlign="space-between none">
      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <mat-form-field>
          <input matInput formControlName="username" [attr.disabled]="textdisable==true ? true : null"
          placeholder="User name" name="username" >
        </mat-form-field>
        <mat-form-field>
          <input matInput type="password" [attr.disabled]="textdisable==true ? true : null" formControlName="password"
           name="password"  placeholder="Password">
        </mat-form-field>

        <mat-radio-group formControlName="logTyp" class="example-radio-group" name="logTyp" >
            <mat-radio-button  value="ldap" (click)="ldap()" >LDAP</mat-radio-button>&nbsp;
            <mat-radio-button value="ofc365" (click)="ofc365()">Office 365</mat-radio-button>
          </mat-radio-group>

      </form>
      <div fxLayout="column" fxLayoutGap="16px">
        <div class="app-loader-wrapper" fxLayout="row" fxLayoutGap="16px" fxLayout.lt-md="column">
          <button mat-raised-button i18n
            type="submit"
            fxFlex="50%"
            fxFlex.lt-md="none"
            color="primary"
            (click)="login()"
            [disabled]="!loginForm.valid && !textdisable">
            Login
          </button>
          <a mat-button i18n
            fxFlex="50%"
            fxFlex.lt-md="none"
            (click)="forgotPassword()">
            Forgot Password?
          </a>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
