.portal-login-container {
  min-height: 100%;
}

.portal-login-card {
  padding: 0;
  box-shadow: 0 11px 15px -7px rgba(0,0,0,.2), 0 24px 38px 3px rgba(0,0,0,.14), 0 9px 46px 8px rgba(0,0,0,.12);
  mat-card-title h1 {
    margin-bottom: 0;
  }
  mat-card-content {
    min-height: 350px;
    padding: 48px;
    margin: 0;
  }
  .mat-form-field {
    width: 100%;
  }
}
.portal-login-container{
 
background-repeat: no-repeat;
  background-size: 100% 100%;
}
h1{
  font-size: 30px;
  color:white;
  font-weight: bold;
  text-decoration: uppercase;
  text-align: center;
}
.portal-login-card__logo {
  height: 40px;
}


// IE 11 fixes
@media all and (-ms-high-contrast:none) {
  .portal-login-container {
    height: 100%;
  }
}
