<div fxLayout="column" fxFlexFill>
  <mat-toolbar class="portal-side-menu-top-toolbar">
    <mat-toolbar-row fxLayout="row">
      <img class="portal-toolbar-brand" src="assets/images/oxygenna.png" alt="Portal">
      <span class="portal-toolbar-brand-text" i18n>Sattrix</span>
    </mat-toolbar-row>
  </mat-toolbar>
  <div class="portal-sidnav-menu portal-hide-scrollbars" fxFlex="nogrow noshrink">




    <!-- <h3 class="portal-sidnav-menu__subheader">PROCESS</h3> -->
    <mat-expansion-panel *ngFor="let item of grouparray" expanded="false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>{{item.icon}}</mat-icon>
            <h3>{{item.fromGroup}}</h3>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list *ngFor="let dash of dashboardata">
            <a *ngIf="dash.FormGroup === item.fromGroup && dash.view == 1"
             mat-list-item [routerLink]="dash.RouteLink"
              routerLinkActive="portal-menu--active">
              <mat-icon matListIcon>{{ dash.FormIcon }}</mat-icon>
              <h3 matLine >{{ dash.FormName }}</h3>
            </a>
        </mat-nav-list>
      </mat-expansion-panel>






  </div>
  <mat-toolbar>
    <mat-toolbar-row fxLayout="row">
      <span fxFlex></span>
      <a mat-icon-button (click)="sidenav.close()">
        <mat-icon>chevron_left</mat-icon>
      </a>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
