

 <button [@flyInOut]="'in'"
 class="button"
 *ngIf="addbutton"
 mat-raised-button
 color="primary"
 (click)="addNewemployee()"
>
 <mat-icon>add</mat-icon>
 Add New
</button>

<button [@flyInOut]="'in'"
class="button"
*ngIf="cancelbutton"
mat-raised-button
color="primary"
(click)="cancelAddemployee()"
>
<!-- [@flyInOut]="'in'" -->
<mat-icon>cancel</mat-icon>
Cancel
</button>

<div class="grid-container">
  <div class="row middle-xs middle-sm middle-md middle-lg user-row">
    <div [@flyInOut]="'in'" *ngIf="showFilter" class="col-xs-12 col-sm-7 col-md-7 col-lg-7 filter-col">
        <mat-form-field style="top: 29px; left: 20px;">
            <input
            matInput
            (keyup)="applyFilter($event.target.value)"
            type="text"
            placeholder="Search"/>
          </mat-form-field>
    </div>
    <div class="col-xs-12 col-sm-1 col-md-1 col-lg-1 filter-icon-col">

    </div>
    <div class="col-xs-12 col-sm-1 col-md-1 col-lg-1 user-btn-col">

    </div>
  </div>

  <div class="clear"></div>
  <mat-card>
    <div *ngIf="showEmptable">
      <mat-table #table matSort [dataSource]="MyDataSource">
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef mat-sort-header
            >Sr.No
          </mat-header-cell>
          <mat-cell *matCellDef="let user; let i = index">
            {{ i + 1 }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header
            >Name
          </mat-header-cell>
          <mat-cell *matCellDef="let user" matTooltip=" {{ user.fname }} {{ user.lname }}">
            {{ user.fname }}</mat-cell
          >
        </ng-container>

        <ng-container matColumnDef="email">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Email
          </mat-header-cell>
          <mat-cell *matCellDef="let user" matTooltip="{{ user.email }}">
              {{(user.email)? (user.email | slice:0:10)+'...':(user.email)}}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="dep">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Department
          </mat-header-cell>
          <mat-cell *matCellDef="let user"> {{ user.deptName }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="Technology">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Technology
          </mat-header-cell>
          <mat-cell *matCellDef="let user" matTooltip="{{ user.Technology }}">
            {{(user.Technology)? (user.Technology | slice:0:10)+'...':(user.Technology)}}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Product">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Product
          </mat-header-cell>
          <mat-cell *matCellDef="let user" matTooltip="{{ user.productName }}">
            {{(user.productName)? (user.productName | slice:0:10)+'...':(user.productName)}}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Level">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Level
          </mat-header-cell>
          <mat-cell matTooltip="{{ user.position }}" *matCellDef="let user">
              {{(user.position)? (user.position | slice:0:10)+'...':(user.position)}}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="des">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Designation
          </mat-header-cell>
          <mat-cell *matCellDef="let user" matTooltip="{{ user.designationName }}">
            {{(user.designationName) ? (user.designationName | slice:0:10)+'...': (user.designationName)}}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef mat-sort-header
            >Action
          </mat-header-cell>
          <mat-cell *matCellDef="let user">
            <button
              mat-icon-button
              color="accent"
              matTooltip="Edit Employee"
              (click)="editEmpdetails(user)"
            >
              <mat-icon aria-label="Example icon-button with a heart icon"
                >edit</mat-icon
              >
            </button>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Status
          </mat-header-cell>
          <mat-cell *matCellDef="let user">


            <button mat-icon-button color="warn" matTooltip="Update Stauts">
              <mat-icon aria-label="Example icon-button with a heart icon" style="color:green"
               *ngIf="user.EM_Status == 1" class="fa fa-check"  (click)="statuschange(user)"> </mat-icon>
              <mat-icon aria-label="Example icon-button with a heart icon"
               *ngIf="user.EM_Status == 0" class="fa fa-stop"  (click)="statuschange(user)"></mat-icon>
            </button>

          </mat-cell>
        </ng-container>
        <mat-header-row
          *matHeaderRowDef="displayedColumns"
          style="text-align:center;"
        ></mat-header-row>
        <mat-row
          *matRowDef="let row; columns: displayedColumns"
          style="text-align:center;"
        ></mat-row>
      </mat-table>

      <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]">
      </mat-paginator>
      <!-- <mat-paginator
        [length]="totalRecords"
        [pageSizeOptions]="[10, 20, 30]"
        (page)="getServer($event)"
        showFirstLastButtons
      ></mat-paginator> -->
<!--
      <mat-paginator [length]="totalRecords" [pageSizeOptions]="[10, 20, 30]"
      (page)="getServer($event)" showFirstLastButtons></mat-paginator> -->

    </div>
    <!-- [@flyInOut]="'in'" -->
    <!-- ////////////////////////////////////////////////////////////////////////////////////////////////- -->
    <div *ngIf="showAddempform">
      <!-- [@flyInOut]="'in'" -->
      <mat-horizontal-stepper [linear]="isLinear" #stepper>
          <mat-step [stepControl]="personalFormGroup">

          <form
            [formGroup]="personalFormGroup"
            novalidate
            (ngSubmit)="submit(personalFormGroup.value, stepper)"
          >
            <ng-template matStepLabel
              >Add Employee Personal Information</ng-template
            >

            <div class="container">
              <div class="row">
                <mat-form-field class="full-with-field">
                  <input
                    matInput
                    type="text"
                    minlength="3"
                    maxlength="30"
                    name="fname"
                    formControlName="fname"
                    placeholder="First Name:"
                    required
                  />
                  <mat-error *ngIf="submitted && f.fname.errors">
                    <mat-error *ngIf="f.fname.errors.required"
                      >First Name is mandatory*</mat-error
                    >
                    <mat-error *ngIf="f.fname.errors.pattern"
                      >At least a-z and A-Z characters are
                      acceptable*</mat-error
                    >
                    <mat-error
                      *ngIf="
                        personalFormGroup.controls['fname'].errors.minlength
                      "
                      >Name should be 3-30 character only*
                    </mat-error>
                  </mat-error>
                </mat-form-field>

                <mat-form-field class="full-with-field mat-form-field2">
                  <input
                    matInput
                    type="text"
                    minlength="3"
                    maxlength="30"
                    (keydown.space)="$event.preventDefault()"
                    name="lname"
                    formControlName="lname"
                    placeholder="Last Name:"
                    required
                  />
                  <mat-error *ngIf="submitted && f.lname.errors">
                    <mat-error *ngIf="f.lname.errors.required"
                      >Last Name is mandatory*</mat-error
                    >
                    <mat-error *ngIf="f.lname.errors.pattern"
                      >At least a-z and A-Z characters are
                      acceptable*</mat-error
                    >
                    <mat-error
                      *ngIf="
                        personalFormGroup.controls['lname'].errors.minlength
                      "
                      >Name should be 3-30 character only*
                    </mat-error>
                  </mat-error>
                </mat-form-field>
              </div>

              <div class="row">
                <mat-form-field class="full-with-field">
                  <input
                    matInput
                    type="number"
                    minlength="10"
                    maxlength="12"
                    (keydown.space)="$event.preventDefault()"
                    name="mobile"
                    formControlName="mobile"
                    placeholder="Mobile :"
                  />
                </mat-form-field>

                <mat-form-field class="full-with-field mat-form-field2">
                  <input
                  matInput
                  type="email"
                  (keydown.space)="$event.preventDefault()"
                  name="email"
                  formControlName="email"
                  placeholder="Email :"
                  (keyup)="checkEmail($event.target.value)"
                  required
                />
                <mat-error *ngIf="submitted && f.email.errors">
                  <mat-error *ngIf="f.email.errors.required"
                    >Email is mandatory*</mat-error
                  >
                </mat-error>
                </mat-form-field>
                    <h3 *ngIf="showError" class="emailerror">This Email is already taken. Please try another one </h3>
              </div>

              <!-- This username is already taken. Please try another one. -->

              <div class="row">
                <mat-form-field class="full-with-field">
                  <mat-select
                  placeholder="Choose Department"
                  name="department"
                  formControlName="department"
                  (selectionChange)="onDepartmentSelection($event.value)"
                  required
                >
                  <mat-option
                    *ngFor="let dvalue of departments"
                    [value]="dvalue.id"
                  >
                    {{ dvalue.Name1 }}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="submitted && f.department.errors">
                  <mat-error *ngIf="f.department.errors.required"
                    >Department Name is mandatory*</mat-error
                  >
                </mat-error>
                </mat-form-field>

                <mat-form-field class="full-with-field mat-form-field2">
                  <mat-select
                    placeholder="Choose Designation"
                    name="designation"
                    formControlName="designation"
                    (selectionChange)="onDesignationSelection($event.value)"
                    required
                  >
                    <mat-option
                      *ngFor="let dvalue of designation"
                      [value]="dvalue.id"
                    >
                      {{ dvalue.Name1 }}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="submitted && f.designation.errors">
                    <mat-error *ngIf="f.designation.errors.required"
                      >Designation is mandatory*</mat-error
                    >
                  </mat-error>
                </mat-form-field>
              </div>

              <div class="row">
                  <mat-form-field class="full-with-field">
                    <mat-select
                    placeholder="Choose Country"
                    name="country"
                    formControlName="country"
                    (selectionChange)="onCountrySelection($event.value)"
                    required
                  >
                    <mat-option
                      *ngFor="let cvalue of countryData"
                      [value]="cvalue.Country_Id"
                    >
                      {{ cvalue.Country_Name }}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="submitted && f.country.errors">
                    <mat-error *ngIf="f.country.errors.required"
                      >Country is mandatory*</mat-error
                    >
                  </mat-error>
                  </mat-form-field>

                  <mat-form-field class="full-with-field mat-form-field2">
                    <mat-select
                      placeholder="Choose State"
                      name="state"
                      formControlName="state"
                      (selectionChange)="onStateSelection($event.value)"
                      required
                    >
                      <mat-option
                        *ngFor="let svalue of stateData"
                        [value]="svalue.State_Id"
                      >
                        {{ svalue.State_Name }}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="submitted && f.state.errors">
                      <mat-error *ngIf="f.state.errors.required"
                        >State is mandatory*</mat-error
                      >
                    </mat-error>
                  </mat-form-field>
                </div>

              <div class="row">
                  <mat-form-field class="full-with-field">
                      <mat-select
                      placeholder="Choose City"
                      name="city"
                      formControlName="city"
                      (selectionChange)="onCitySelection($event.value)"
                      required
                    >
                      <mat-option
                        *ngFor="let cvalue of cityData"
                        [value]="cvalue.CITY_ID"
                      >
                        {{ cvalue.City_Name }}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="submitted && f.city.errors">
                      <mat-error *ngIf="f.city.errors.required"
                        >City is mandatory*</mat-error
                      >
                    </mat-error>
                    </mat-form-field>

                <mat-form-field class="full-with-field mat-form-field2">
                  <textarea
                    matInput
                    type="text"
                    minlength="3"
                    maxlength="30"
                    name="address"
                    formControlName="address"
                    placeholder="Address :"
                  ></textarea>
                </mat-form-field>
              </div>

              <div class="row">


                  <mat-form-field class="full-with-field">
                      <mat-select
                      placeholder="Choose Role"
                      name="role"
                      formControlName="role"
                      (selectionChange)="onRoleSelection($event.value)"
                      required
                    >
                      <mat-option
                        *ngFor="let role of rolesData"
                        [value]="role.RoleId"
                      >
                        {{ role.RoleName }}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="submitted && f.role.errors">
                      <mat-error *ngIf="f.role.errors.required"
                        >Role is mandatory*</mat-error
                      >
                    </mat-error>
                    </mat-form-field>


                    <mat-form-field class="full-with-field mat-form-field2">
                        <mat-select
                        placeholder="Reporting To"
                        name="rmanager"
                        formControlName="rmanager"
                        (selectionChange)="onReportMgrSelection($event.value)"
                      >
                        <mat-option
                          *ngFor="let rmgr of empData"
                          [value]="rmgr.id"
                        >
                          {{ rmgr.fname }}  {{ rmgr.lname }}

                        </mat-option>
                      </mat-select>
                      <mat-error *ngIf="submitted && f.rmanager.errors">
                        <mat-error *ngIf="f.rmanager.errors.required"
                          >Report Manager is mandatory*</mat-error
                        >
                      </mat-error>
                      </mat-form-field>

              </div>

              <div class="row">

                <mat-form-field class="full-with-field">
                  <mat-select
                  placeholder="Allowed Login"
                  name="isUser"
                  formControlName="isUser">
                  <mat-option [value]="1">
                    Yes
                  </mat-option>
                  <mat-option  [value]="0">
                    No
                  </mat-option>
                </mat-select>
                <!-- <mat-error *ngIf="submitted && f.role.errors">
                  <mat-error *ngIf="f.role.errors.required"
                    >Is Sof*</mat-error
                  >
                </mat-error> -->
                </mat-form-field>

                  <mat-form-field *ngIf="statusID>0" class="full-with-field mat-form-field2">
                      <mat-select
                      placeholder="Choose Status"
                      name="isActive"
                      formControlName="isActive"
                      (selectionChange)="onStatusSelection($event.value)"
                      required
                    >
                     <mat-option [value]="1">Active</mat-option>
                     <mat-option [value]="0">InActive</mat-option>
                    </mat-select>
                    <mat-error *ngIf="submitted && f.isActive.errors">
                      <mat-error *ngIf="f.isActive.errors.required"
                        >Status is mandatory*</mat-error
                      >
                    </mat-error>
                    </mat-form-field>
            </div>
            </div>
            <br />


            <button *ngIf="!buttonId"
              class="saveandnextbutton"
              matStepperNext
              mat-raised-button
              color="primary"
              [disabled]="disable"
            >
              Save And Next
            </button>


            <button *ngIf="buttonId > 0"
              class="saveandnextbutton"
              matStepperNext
              mat-raised-button
              color="primary"
              (click)="updateEmployee(personalFormGroup.value, stepper)"
            >
              Update And Next
            </button>
            <br>
          </form>
        </mat-step>

        <mat-step [stepControl]="technologyFormGroup">
          <form [formGroup]="technologyFormGroup">
            <ng-template matStepLabel>Add Technology Skill</ng-template>
            <div class="container">
              <div class="row">
                <!-- <mat-form-field class="full-with-field3">
                  <mat-select
                    placeholder="Choose Technology"
                    name="technology"
                    formControlName="technology"
                    (selectionChange)="skils.techid=technologyFormGroup.value.technology.id;
                    skils.techname=technologyFormGroup.value.technology.Name1;"
                    required

                  >
                    <mat-option
                      *ngFor="let techvalue of technologies"
                      [value]="techvalue"
                    >
                      {{ techvalue.Name1 }}
                    </mat-option>
                  </mat-select>
                </mat-form-field> -->

                <mat-form-field class="full-with-field3">
                  <mat-select
                    placeholder="Choose Product"
                    name="product"
                    formControlName="product"
                    (selectionChange)="skils.productid=technologyFormGroup.value.product.PRODUCT_ID;
                    skils.productname=technologyFormGroup.value.product.PRODUCT_Name;"
                    required

                  >
                    <mat-option
                      *ngFor="let productvalue of productData"
                      [value]="productvalue"
                    >
                      {{ productvalue.PRODUCT_Name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field
                  class="full-with-field3 mat-form-field2"
                >
                  <mat-select
                    placeholder="Choose Position"
                    name="position"
                    formControlName="position"
                    (selectionChange)="skils.comptid=technologyFormGroup.value.position.COMPETENCE_Id;
                    skils.comptname=technologyFormGroup.value.position.COMPETENCE_Name"
                    required
                  >
                    <mat-option
                      *ngFor="let posvalue of compitanceData"
                      [value]="posvalue"
                    >
                      {{ posvalue.COMPETENCE_Name }}
                    </mat-option>
                  </mat-select>

                </mat-form-field>
                <button mat-fab color="primary" (click)="addmoreTechnology()" matTooltip="Add More" class="addmore">
                <mat-icon
                class="mat-icon-add"
                aria-label="Example icon-button with a heart icon"
                >add</mat-icon>
                </button>
              </div>
            </div>

            <div *ngIf="showtechTable" class="content table-responsive table-full-width" style="text-align: center; margin-left: 20%;">
              <table class="table table-bordered table-sm">
                <thead class="thead-light">
                  <tr>
                    <th>Sr. No.</th>
                    <!-- <th>Technology</th> -->
                    <th>Product</th>
                    <th>Position</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tr *ngFor="let tech of stringArr; let i = index">
                  <td>{{ i + 1 }}</td>
                  <!-- <td>{{ tech.techname }}</td> -->
                  <td>{{ tech.productname }}</td>
                  <td>{{ tech.comptname }}</td>
                  <td><button  mat-mini-fab color="warn" (click)="removeItem(i)" ><mat-icon>delete</mat-icon></button></td>
                </tr>
              </table>
            </div><br><br>

            <button matStepperPrevious mat-raised-button color="primary">
              Back
            </button>

            <button *ngIf="saveButton"
              class="saveandnextbutton"
              matStepperNext
              mat-raised-button
              (click)="submitTech(technologyFormGroup.value, stepper)"
              color="primary"
            >
              Save
            </button>

            <button *ngIf="updateButton"
              class="saveandnextbutton"
              matStepperNext
              mat-raised-button
              (click)="updateTech(technologyFormGroup.value, stepper)"
              color="primary"
            >
              Update
            </button>
          </form>
        </mat-step>

      </mat-horizontal-stepper>
    </div>
  </mat-card>
</div>
