
.grid-container {
  margin-top: 0;
}

.user-row {
  margin: 0;
  min-height: 52px;
}

mat-card {
  padding: 0;
  overflow: hidden;
  width: 95%;
  left: 3%;
  margin-top: 35px;
}

.portal-mat-table-example {
  overflow: auto;
  min-width: 95%;
  margin-top: 100px;
}

mat-table {
  width: 100%;
}

.button {
  margin-top: 43px;
  right: 4%;
  align-content: right;
  /* left: 0%; */
  position: absolute;
}

.saveandnextbutton{
  position: absolute;
    right: 2%;
}

.full-with-field {
  width: 45%;
}

.full-with-field3 {
  width:35%;
}


.mat-form-field2{
  margin-left: 10%;
}

.addmore {
  left: 13%;
}


// :host ::ng-deep .mat-horizontal-stepper-header{
//   pointer-events: none;
//   display: flex;
//   height: 72px;
//   overflow: hidden;
//   align-items: center;
//   padding: 0px 151px!important;
// }


.mat-fab-button{
    right: 4%;
    bottom: 61%;
    touch-action: none;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    position: absolute;

}

.mat-card2{
     width: 50% !important;
    align-content: center;
    left: 23%;
    position: relative;
}

.content {
  padding: 0;
    overflow: hidden;
    width: 60%;
    left: 3%;
    margin-top: 35px;
}

.table{
  width: 100%;

}



mat-cell:first-of-type, mat-footer-cell:first-of-type, mat-header-cell:first-of-type{
  max-width: 8%;
}

mat-cell:nth-of-type(2), mat-footer-cell:nth-of-type(2), mat-header-cell:nth-of-type(2){
  max-width: 13%;
}

mat-cell:nth-of-type(3), mat-footer-cell:nth-of-type(3), mat-header-cell:nth-of-type(3){
  max-width: 13%;
}


mat-cell:nth-of-type(4), mat-footer-cell:nth-of-type(4), mat-header-cell:nth-of-type(4){
  max-width: 13%;
  text-align: center;
}

mat-cell:nth-of-type(5), mat-footer-cell:nth-of-type(5), mat-header-cell:nth-of-type(5){
  max-width: 13%;
  text-align: center;
}

mat-cell:nth-of-type(6), mat-footer-cell:nth-of-type(6), mat-header-cell:nth-of-type(6){
  max-width: 14%;
  text-align: center;
}

mat-cell:nth-of-type(7), mat-footer-cell:nth-of-type(7), mat-header-cell:nth-of-type(7){
  max-width: 13%;
  text-align: center;
}

mat-cell:nth-of-type(8), mat-footer-cell:nth-of-type(8), mat-header-cell:nth-of-type(8){
  max-width: 13%;
  text-align: center;
}


::ng-deep .mat-tooltip {
  // background: red!important;
  font-size: 15px;
}

.emailerror{
  color: red;
  right: 16%;
    position: absolute;
    margin-top: 47px;
}




::ng-deep .step2{
  position: relative!important;
    right: 32%!important;
}




:host ::ng-deep .mat-form-field-wrapper {
  // left: 19%!important;
}





// mat-cell:nth-of-type(3), mat-footer-cell:nth-of-type(3), mat-header-cell:nth-of-type(3){
//   max-width: 13%;
// }

// mat-cell:nth-of-type(4), mat-footer-cell:nth-of-type(4), mat-header-cell:nth-of-type(4){
//   max-width: 15%;
// }

// mat-cell:nth-of-type(5), mat-footer-cell:nth-of-type(5), mat-header-cell:nth-of-type(5){
//   max-width: 13%;
// }


// mat-cell:last-of-type, mat-footer-cell:last-of-type, mat-header-cell:last-of-type{
//   max-width: 11%;
// }
