<h1>PIPELINE PROJECT</h1>
<div class="content table-responsive table-full-width">
	<table class="table table-bordered table-sm">
		<thead class = "thead-light">
			<tr>
				<th>Sr. No.</th>
				<th>Client</th>
				<th>PROJECT NAME</th>
        <th>DEPARTMENT</th>
        <th>CONTACT</th>
        <th>EMAIL</th>
        <th>CITY</th>
        <th>STATE</th>
        <th>COUNTRY</th>
			</tr>
      </thead>
      <tr>
          <td></td>
        <td><input [(ngModel)]="orgname"  class="form-control" placeholder="Search.." ></td>
        <td><input [(ngModel)]="prjname"  class="form-control" placeholder="Search.." ></td>
        <td><input [(ngModel)]="deptname"  class="form-control" placeholder="Search.." ></td>
        <td><input [(ngModel)]="contact"  class="form-control" placeholder="Search.." ></td>
        <td><input [(ngModel)]="email"  class="form-control" placeholder="Search.." ></td>
        <td><input [(ngModel)]="city"  class="form-control" placeholder="Search.." ></td>
        <td><input [(ngModel)]="state"  class="form-control" placeholder="Search.." ></td>
        <td><input [(ngModel)]="country"  class="form-control" placeholder="Search.." ></td>
      </tr>
			<tr *ngFor="let product of pipelineproject | filter: {Org_Name: technology} | filter: {Country_Name: country} | filter: {State_Name: state}   | filter: {City_Name: city}  | filter: {PRJ_Email: email}  | filter: {PRJ_Contact: contact} | filter: {PRJ_Name: level} | filter:{ DEPT_Name : deptname}  | paginate: { itemsPerPage: 10, currentPage: p }  ; let i = index">
				<td>{{ i + 1 }}</td>
				<td>{{ product.Org_Name }}</td>
				<td>{{ product.PRJ_Name }}</td>
				<td>{{ product.DEPT_Name }}</td>
				<td>{{ product.PRJ_Contact }}</td>
				<td>{{ product.PRJ_Email }}</td>
				<td>{{ product.City_Name }}</td>
				<td>{{ product.State_Name }}</td>
				<td>{{ product.Country_Name }}</td>
  </table>
  <pagination-controls class="pagination" (pageChange)="p = $event"></pagination-controls>
</div>