
mat-card {
  padding: 0;
  overflow: hidden;
  width: 80%;
  left: 10%;
  margin-top: 8%;
}

mat-table {
  width: 100%;
}

.mat-fab-button{
  height: 30px;
  width: 30px;
}

.mat-icon-add {
  margin-top: -12px;
}


.containerbutton{
  touch-action: none;
  user-select: none;
  -webkit-user-drag: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  right: 12%;
  top: 8%;
  position: absolute;

}

.input-full-width{
  width: 100%;
}



mat-card-title {
  background-color: #2B363E;
  color: #ffffff;
  padding: 7px 146px;
  font-weight: normal;
  font-size: 16px;
  margin-bottom: 0;
}


.add-card {
  padding: 36px;
    overflow: hidden;
    width: 40%;
    left: 26%;
    margin-top: 6%;
}
