<button [@flyInOut]="'in'" *ngIf="add" class="mat-fab-button containerbutton" mat-mini-fab color="primary" matTooltip="Add Technology"
 (click)="addTechnologyopenDialog()">
  <mat-icon class="mat-icon-add" aria-label="Example icon-button with a heart icon">add</mat-icon>
</button>

<button [@flyInOut]="'in'" *ngIf="remove" class="mat-fab-button containerbutton" mat-mini-fab color="primary" matTooltip="Cancel"
 (click)="cancelTechnologyopenDialog()">
  <mat-icon class="mat-icon-add" aria-label="Example icon-button with a heart icon">remove</mat-icon>
</button>

<mat-card *ngIf="techTable" [@flyInOut]="'in'">
    <div>
      <mat-table #table matSort [dataSource]="MatTableData">
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef mat-sort-header
            >Sr.No
          </mat-header-cell>
          <mat-cell *matCellDef="let user; let i = index;"> {{ i+1 }} </mat-cell>
        </ng-container>

        <!-- <ng-container matColumnDef="oem">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            OEM
          </mat-header-cell>
          <mat-cell *matCellDef="let user"> {{ user.OEM_Name }}</mat-cell>
        </ng-container> -->

        <ng-container matColumnDef="dname">
          <mat-header-cell *matHeaderCellDef mat-sort-header
            >Technology Name
          </mat-header-cell>
          <mat-cell *matCellDef="let user"> {{ user.TECH_Name }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="description">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Description
          </mat-header-cell>
          <mat-cell *matCellDef="let user" matTooltip="{{ user.TECH_DESC }}">
              {{(user.TECH_DESC)? (user.TECH_DESC | slice:0:40)+'...':(user.TECH_DESC)}}

          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="blank">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
          </mat-header-cell>
          <mat-cell *matCellDef="let user">
          </mat-cell>
        </ng-container>



        <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef mat-sort-header
            >Action
          </mat-header-cell>
          <mat-cell *matCellDef="let user">

            <button mat-icon-button color="accent" matTooltip="Edit Department" (click)="editTechnologyopenDialog(user)">
              <mat-icon aria-label="Example icon-button with a heart icon">edit</mat-icon>
            </button>&nbsp;
<!--
            <button mat-icon-button color="warn" matTooltip="Delete Department">
              <mat-icon aria-label="Example icon-button with a heart icon" (click)="confirmOpenDialog()">delete</mat-icon>
            </button> -->

          </mat-cell>
        </ng-container>

        <mat-header-row
          *matHeaderRowDef="displayedColumns"

        ></mat-header-row>
        <mat-row
          *matRowDef="let row; columns: displayedColumns"

        ></mat-row>
      </mat-table>

      <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]">
      </mat-paginator>
    </div>
  </mat-card>

  <mat-card class="add-card" *ngIf="show" [@flyInOut]="'in'">

      <mat-card-header>
          <mat-card-title>{{cardName}}</mat-card-title>
          <!-- <mat-card-subtitle>Subtitle</mat-card-subtitle> -->
      </mat-card-header>
      <mat-card-content><br>
        <form [formGroup]="technologyForm" novalidate>
            <!-- <mat-form-field class="input-full-width" hidden="true">
                <mat-select placeholder="Choose OEM" name="oname" formControlName="oname" (selectionChange)="onOemSelection($event.value)" required
                        >
                        <mat-option *ngFor="let oem of oemData" [value]="oem.OEM_ID">
                            {{ oem.OEM_Name }}
                          </mat-option>
                        </mat-select>
            </mat-form-field><br> -->

            <mat-form-field class="input-full-width">
                <input type="text" formControlName="techname" matInput placeholder="Enter Technology Name">
                <mat-hint>Enter a unique name.</mat-hint>
              </mat-form-field><br>

              <mat-form-field class="input-full-width">
                <input type="text" formControlName="techdesc" matInput placeholder="Enter Technology Description">
                <mat-hint>Enter a Description.</mat-hint>
              </mat-form-field>

        </form>
      </mat-card-content>
      <mat-card-actions align="center">
          <button mat-raised-button *ngIf="submit" color="primary" (click)="addtechnologyForm(technologyForm.value)">Submit</button>
          <button mat-raised-button *ngIf="update" color="primary" (click)="updatetechnologyForm(technologyForm.value)">Update</button>
      </mat-card-actions>

  </mat-card>
