<!-- <mat-icon>cancel</mat-icon> -->
<mat-card>
  <mat-card-header>
      <mat-card-title>Confirmation
      </mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>

  </mat-card-content>
  <mat-card-actions align="center">
    <button mat-stroked-button color="primary" (click)="closeDialog()">Cancel</button>&nbsp;&nbsp;
      <button mat-stroked-button color="warn">Delete</button>
     </mat-card-actions>
</mat-card>
