

      <button class="mat-fab-button containerbutton" mat-mini-fab color="primary" matTooltip="Add Oem"
      (click)="addExpertiespenDialog()">
        <mat-icon class="mat-icon-add" aria-label="Example icon-button with a heart icon">add</mat-icon>
      </button>


<mat-card>
  <div [@flyInOut]="'in'">
    <mat-table #table matSort [dataSource]="MyTableData">
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Sr.No
        </mat-header-cell>
        <mat-cell *matCellDef="let user; let i = index;"> {{ i+1 }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="oname">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Expertise Name
        </mat-header-cell>
        <mat-cell *matCellDef="let user"> {{user.COMPETENCE_Name}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Description
        </mat-header-cell>
        <mat-cell *matCellDef="let user" matTooltip="{{user.COMPETENCE_Description}}">
            {{(user.COMPETENCE_Description)? (user.COMPETENCE_Description | slice:0:40)+'...':(user.COMPETENCE_Description)}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Action
        </mat-header-cell>
        <mat-cell *matCellDef="let user">


          <button mat-icon-button color="accent" matTooltip="Edit Department" (click)="editExpertiesopenDialog(user)">
            <mat-icon aria-label="Example icon-button with a heart icon">edit</mat-icon>
          </button>&nbsp;

        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Status
        </mat-header-cell>
        <mat-cell *matCellDef="let user">


          <button mat-icon-button color="warn" matTooltip="Update Stauts">
            <mat-icon aria-label="Example icon-button with a heart icon" style="color:green" *ngIf="user.IsActive == 1" class="fa fa-check"  (click)="statuschange(user)"> </mat-icon>
            <mat-icon aria-label="Example icon-button with a heart icon" *ngIf="user.IsActive == 0" class="fa fa-stop"  (click)="statuschange(user)"></mat-icon>
          </button>

        </mat-cell>
      </ng-container>

      <mat-header-row
        *matHeaderRowDef="displayedColumns"

      ></mat-header-row>
      <mat-row
        *matRowDef="let row; columns: displayedColumns"

      ></mat-row>
    </mat-table>

    <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]">
    </mat-paginator>
  </div>
</mat-card>

