
 <button
 class="button"
 *ngIf="addbutton"
 mat-raised-button
 color="primary"
 (click)="addNewemployee()"
 [@flyInOut]="'in'"
>
 <mat-icon>add</mat-icon>
 Add New
</button>

<button
 class="button"
 *ngIf="cancelbutton"
 mat-raised-button
 color="primary"
 (click)="cancelAddemployee()"
 [@flyInOut]="'in'"
>
 <mat-icon>cancel</mat-icon>
 Cancel
</button>
<div class="grid-container">
  <div class="row middle-xs middle-sm middle-md middle-lg user-row">
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7 filter-col">
        <mat-form-field style="top: 29px; ">
            <input
            matInput
            (keyup)="applyFilter($event.target.value)"
            type="text"
            placeholder="Search"/>
          </mat-form-field>
    </div>
    <div class="col-xs-12 col-sm-1 col-md-1 col-lg-1 filter-icon-col">

    </div>
    <div class="col-xs-12 col-sm-1 col-md-1 col-lg-1 user-btn-col">

    </div>
  </div>

  <mat-card>

      <div *ngIf="showEmptable" [@flyInOut]="'in'">
          <mat-table #table matSort [dataSource]="MyTableData">
            <ng-container matColumnDef="OrgName">
              <mat-header-cell *matHeaderCellDef mat-sort-header
                >Customer Name
              </mat-header-cell>
              <mat-cell *matCellDef="let user"> {{ user.OrgName }} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="web">
              <mat-header-cell *matHeaderCellDef mat-sort-header
                >Website
              </mat-header-cell>
              <mat-cell *matCellDef="let user" [matTooltip]="user.web">
                  {{(user.web)? (user.web | slice:0:10)+'...':(user.web)}}
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="contactperson">
              <mat-header-cell *matHeaderCellDef mat-sort-header>
                Contact Person
              </mat-header-cell>
              <mat-cell *matCellDef="let user"> {{ user.contactperson }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="contact">
              <mat-header-cell *matHeaderCellDef mat-sort-header
                >Contact
              </mat-header-cell>
              <mat-cell *matCellDef="let user">{{ user.contact }} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="GST">
              <mat-header-cell *matHeaderCellDef mat-sort-header
                >Gst
              </mat-header-cell>
              <mat-cell *matCellDef="let user">{{ user.GST }} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="Pan">
              <mat-header-cell *matHeaderCellDef mat-sort-header
                >Pan
              </mat-header-cell>
              <mat-cell *matCellDef="let user">{{ user.Pan }} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="address1">
              <mat-header-cell *matHeaderCellDef mat-sort-header
                >Address
              </mat-header-cell>
              <mat-cell *matCellDef="let user">{{ user.address1 }} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="action">
              <mat-header-cell *matHeaderCellDef mat-sort-header
                >Action
              </mat-header-cell>
              <mat-cell *matCellDef="let user">
                <button
                  mat-icon-button
                  color="accent"
                  matTooltip="Edit Employee"
                  (click)="editCustomerdetails(user)"
                >
                  <mat-icon aria-label="Example icon-button with a heart icon"
                    >edit</mat-icon
                  >
                </button>

                <!-- <button mat-icon-button color="warn" matTooltip="Delete Department">
                  <mat-icon
                    aria-label="Example icon-button with a heart icon"
                    (click)="confirmOpenDialog(user)"
                    >delete</mat-icon
                  >
                </button> -->
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="status">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Status
                </mat-header-cell>
                <mat-cell *matCellDef="let user">


                  <button mat-icon-button color="warn" matTooltip="Update Stauts">
                    <mat-icon aria-label="Example icon-button with a heart icon" style="color:green" *ngIf="user.org_status == 1" class="fa fa-check"  (click)="statuschange(user)"> </mat-icon>
                    <mat-icon aria-label="Example icon-button with a heart icon" *ngIf="user.org_status == 0" class="fa fa-stop"  (click)="statuschange(user)"></mat-icon>
                  </button>

                </mat-cell>
              </ng-container>


            <mat-header-row
              *matHeaderRowDef="displayedColumns"
              style="text-align:center;"
            ></mat-header-row>
            <mat-row
              *matRowDef="let row; columns: displayedColumns"
              style="text-align:center;"
            ></mat-row>
          </mat-table>

          <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]">
          </mat-paginator>
        </div>

        <div *ngIf="showAddempform" [@flyInOut]="'in'">

<form
[formGroup]="organizationFormGroup"
novalidate
(ngSubmit)="submit(organizationFormGroup.value)"
>
<ng-template
  >Organization Requirment Details</ng-template
>

<div class="container">
  <div class="row">

    <mat-form-field class="full-with-field">
      <input
        matInput
        type="text"
        name="organizationName"
        formControlName="organizationName"
        placeholder="Customer Name"
      />
      <mat-error *ngIf="submitted && f.organizationName.errors">
        <mat-error *ngIf="f.organizationName.errors.required"
          >Name is mandatory*</mat-error
        >
      </mat-error>
    </mat-form-field>

    <mat-form-field class="full-with-field mat-form-field2">
        <input
          matInput
          type="email"
          name="email"
          formControlName="email"
          placeholder="Email :"
          required
        />
        <mat-error *ngIf="submitted && f.email.errors">
          <mat-error *ngIf="f.email.errors.required"
            >Email is mandatory*</mat-error
          >
        </mat-error>
      </mat-form-field>

  </div>


  <div class="row">

      <mat-form-field class="full-with-field">
          <input
            matInput
            type="text"
            name="contactPerson"
            formControlName="contactPerson"
            placeholder="Contact Person"
          />
          <mat-error *ngIf="submitted && f.contactPerson.errors">
            <mat-error *ngIf="f.contactPerson.errors.required"
              >Contact Person is mandatory*</mat-error
            >
          </mat-error>
        </mat-form-field>

      <mat-form-field class="full-with-field mat-form-field2">
          <input
            matInput
            type="number"
            minlength="10"
            maxlength="12"
            (keydown.space)="$event.preventDefault()"
            name="mobile"
            formControlName="mobile"
            placeholder="contact :"
          />
        </mat-form-field>
  </div>

  <div class="row">

      <mat-form-field class="full-with-field">
          <input
            matInput
            type="text"
            (keydown.space)="$event.preventDefault()"
            name="website"
            formControlName="website"
            placeholder="Webiste"
          />
          <mat-error *ngIf="submitted && f.website.errors">
            <mat-error *ngIf="f.website.errors.required"
              >Website is mandatory*</mat-error
            >
          </mat-error>
      </mat-form-field>

      <mat-form-field class="full-with-field mat-form-field2">
          <input
            matInput
            type="text"
            (keydown.space)="$event.preventDefault()"
            name="fax"
            formControlName="fax"
            placeholder="Fax"
          />
      </mat-form-field>
  </div>
  <div class="row">
      <mat-form-field class="full-with-field">
          <input
            matInput
            type="text"
            (keydown.space)="$event.preventDefault()"
            name="gst"
            formControlName="gst"
            placeholder="GST NO"
          />
      </mat-form-field>
      <mat-form-field class="full-with-field mat-form-field2">
          <input
            matInput
            type="text"
            (keydown.space)="$event.preventDefault()"
            name="pan"
            formControlName="pan"
            placeholder="PAN NO"
          />
      </mat-form-field>
  </div>
  <div class="row">
      <mat-form-field class="full-with-field">
          <textarea
            matInput
            type="text"
            minlength="3"
            maxlength="500"
            name="address"
            formControlName="address"
            placeholder="Address :"
          ></textarea>
        </mat-form-field>
  </div>
<br>
<button *ngIf="submitBtn==true" mat-raised-button color="primary">
 SAVE</button>
</div>
</form>
<button *ngIf="update" (click)="updateCustomer(organizationFormGroup.value)"  mat-raised-button color="primary">
  UPDATE
 </button>
</div>
</mat-card>
</div>
