<h1>MIS-RESOURCE COUNT</h1>
<div class="content table-responsive table-full-width">
	<table class="table table-bordered table-sm">
		<thead class = "thead-light">
			<tr>
				<th>Sr. No.</th>
				<th>TECHNOLOGY</th>
				<th>COMPETENCE</th>
        <th>COUNT</th>
        <th>BUSY</th>
				<th>AVAILABLE</th>
			</tr>
      </thead>
      <tr>
          <td></td>
        <td><input [(ngModel)]="technology"  class="form-control" placeholder="Search.." ></td>
        <td><input [(ngModel)]="level"  class="form-control" placeholder="Search.." ></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
			<tr *ngFor="let product of resourceCout | filter: {techName: technology} | filter: {competenceName: level} | paginate: { itemsPerPage: 10, currentPage: p }  ; let i = index">
				<td>{{ i + 1 }}</td>
				<td>{{ product.techName }}</td>
				<td>{{ product.competenceName }}</td>
				<td class="cursorp">{{ product.cnt }}</td>
				<td class="cursorp" (click)="busycnt(product)">{{ product.techcount }}</td>
				<td class="cursorp" (click)="availcnt(product)">{{ product.cnt-product.techcount }}</td>
      </tr>
  </table>
  <pagination-controls class="pagination" (pageChange)="p = $event"></pagination-controls>
</div>

<h3 *ngIf="tableshowbusy">BUSY EMPLOYEE DETAILS</h3>
<div *ngIf="tableshowbusy" class="content table-responsive table-full-width">
	<table class="table table-bordered table-sm">
		<thead class = "thead-light">
			<tr>
				<th>Sr. No.</th>
				<th>FIRST NAME</th>
				<th>LAST NAME</th>
        <th>DEPARTMENT</th>
        <th>EMAIL</th>
				<th>MOBILE</th>
			</tr>
      </thead>
      <tr>
          <td></td>
        <td><input [(ngModel)]="fname"  class="form-control" placeholder="Search.." ></td>
        <td><input [(ngModel)]="lname"  class="form-control" placeholder="Search.." ></td>
        <td><input [(ngModel)]="dept"  class="form-control" placeholder="Search.." ></td>
        <td><input [(ngModel)]="email"  class="form-control" placeholder="Search.." ></td>
        <td><input [(ngModel)]="mobile"  class="form-control" placeholder="Search.." ></td>
        <!-- <td><input [(ngModel)]="level"  class="form-control" placeholder="Search.." ></td> -->
      </tr>
			<tr *ngFor="let product of employeebusy | filter: {Fname: fname} | filter: {Lname: lname} | filter: {dept: dept}  | filter: {email: email}  | filter: {mobile: mobile}| paginate: { itemsPerPage: 10, currentPage: p }  ; let i = index">
				<td>{{ i + 1 }}</td>
				<td>{{ product.Fname }}</td>
				<td>{{ product.Lname }}</td>
				<td>{{ product.dept }}</td>
				<td>{{ product.email}}</td>
				<td>{{ product.mobile }}</td>
      </tr>
  </table>
  <pagination-controls class="pagination" (pageChange)="p = $event"></pagination-controls>
</div>


<h3 *ngIf="tableshowAvail">AVAILABLE EMPLOYEE DETAILS</h3>
<div *ngIf="tableshowAvail" class="content table-responsive table-full-width">
	<table class="table table-bordered table-sm">
		<thead class = "thead-light">
			<tr>
				<th>Sr. No.</th>
				<th>FIRST NAME</th>
				<th>LAST NAME</th>
        <th>DEPARTMENT</th>
        <th>EMAIL</th>
				<th>MOBILE</th>
			</tr>
      </thead>
      <tr>
          <td></td>
        <td><input [(ngModel)]="fname"  class="form-control" placeholder="Search.." ></td>
        <td><input [(ngModel)]="lname"  class="form-control" placeholder="Search.." ></td>
        <td><input [(ngModel)]="dept"  class="form-control" placeholder="Search.." ></td>
        <td><input [(ngModel)]="email"  class="form-control" placeholder="Search.." ></td>
        <td><input [(ngModel)]="mobile"  class="form-control" placeholder="Search.." ></td>
        <!-- <td><input [(ngModel)]="level"  class="form-control" placeholder="Search.." ></td> -->
      </tr>
			<tr *ngFor="let product of employeeAvail | filter: {Fname: fname} | filter: {Lname: lname} | filter: {dept: dept}  | filter: {email: email}  | filter: {mobile: mobile}| paginate: { itemsPerPage: 10, currentPage: p }  ; let i = index">
				<td>{{ i + 1 }}</td>
				<td>{{ product.Fname }}</td>
				<td>{{ product.Lname }}</td>
				<td>{{ product.dept }}</td>
				<td>{{ product.email}}</td>
				<td>{{ product.mobile }}</td>
      </tr>
  </table>
  <pagination-controls class="pagination" (pageChange)="p = $event"></pagination-controls>
</div>
