<div class="grid-container">
    <div class="row middle-xs middle-sm middle-md middle-lg user-row">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7 filter-col">
            <mat-form-field style="top: 29px; ">
                <input
                matInput
                (keyup)="applyFilter($event.target.value)"
                type="text"
                placeholder="Search"/>
              </mat-form-field>
        </div>
        <div class="col-xs-12 col-sm-1 col-md-1 col-lg-1 filter-icon-col">

        </div>
        <div class="col-xs-12 col-sm-1 col-md-1 col-lg-1 user-btn-col">

        </div>
      </div>
  <mat-card>
    <div  [@flyInOut]="'in'">
        <mat-table #table matSort [dataSource]="MatTableData">
          <ng-container matColumnDef="emp">
            <mat-header-cell *matHeaderCellDef mat-sort-header
              >Employee Name
            </mat-header-cell>
            <mat-cell *matCellDef="let user"> {{ user.emp }} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="email">
            <mat-header-cell *matHeaderCellDef mat-sort-header
              >Email
            </mat-header-cell>
            <mat-cell *matCellDef="let user" matTooltip="{{user.email}}">
                {{(user.email)? (user.email | slice:0:20) + '...':(user.email)}}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="contact">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              Contact
            </mat-header-cell>
            <mat-cell *matCellDef="let user"> {{ user.mob }}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="status">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              Status
            </mat-header-cell>
            <mat-cell *matCellDef="let user">{{ user.stat==false ? 'IN-ACTIVE' : 'ACTIVE'}} </mat-cell>
          </ng-container>

            <ng-container matColumnDef="Manage">
            <mat-header-cell *matHeaderCellDef mat-sort-header
              >MANAGE
            </mat-header-cell>
            <mat-cell *matCellDef="let user"
            > <button mat-raised-button color="primary" (click)="assign(user)">CHANGE</button> </mat-cell>
          </ng-container>

          <mat-header-row
            *matHeaderRowDef="displayedColumns"
            style="text-align:center;"
          ></mat-header-row>
          <mat-row
            *matRowDef="let row; columns: displayedColumns"
            style="text-align:center;"
          ></mat-row>
        </mat-table>
        <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]">
        </mat-paginator>
      </div>
</mat-card>
</div>
