h1 {
  background-color: #2B363E;
  color: #ffffff;
  padding: 7px 210px;
  font-weight: normal;
  font-size: 16px;
  margin-bottom: 0;
}


.input-full-width{
  width: 100%;
}


:host ::ng-deep .mat-form-field-placeholder{

  color:black !important;
}

:host ::ng-deep .mat-focused .mat-form-field-placeholder{

  color:black !important;
}


.mat-18 {
  right: 31.2%!important;
    /* text-align: left; */
    position: absolute;
    top: 62px;
}


.closeButton{
  text-align: center;
}

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 1px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: black;
}
