<h1 mat-dialog-title align ="center"  [@flyInOut]="'in'">Details
  <!-- <mat-icon class="mat-18" style="-webkit-text-fill-color:black">cancel</mat-icon> -->
</h1><br>
<div mat-dialog-content  [@flyInOut]="'in'">
  <div class="container">
    <div class="col-md-12">
      <form [formGroup]="showForm" novalidate>
      <div class="row">
        <div class="col-md-6">
          <mat-form-field class="input-full-width">
            <input type="text" matInput placeholder="Project Name" formControlName="PRJ_Name" name="PRJ_Name" readonly>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field class="input-full-width">
            <input type="text" matInput placeholder="Project Manager Name" formControlName="Project_Manager" name="Project_Manager" readonly>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <mat-form-field class="input-full-width">
            <input type="text" matInput placeholder="State Name" formControlName="State_Name" name="State_Name" readonly>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field class="input-full-width">
            <input type="text" matInput placeholder=" Technical Manager Name" formControlName="Technical_Manager" name="Technical_Manager" readonly>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <mat-form-field class="input-full-width">
            <input type="text" matInput placeholder="City Name" formControlName="city" name="city" readonly>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field class="input-full-width">
            <input type="text" matInput placeholder=" Contact" formControlName="contact" name="contact" readonly>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <mat-form-field class="input-full-width">
            <input type="text" matInput placeholder="Country Name" formControlName="country" name="country" readonly>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field class="input-full-width">
            <input type="text" matInput placeholder="Email" formControlName="email" name="email" readonly>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <mat-form-field class="input-full-width">
            <input type="text" matInput placeholder="From Date" formControlName="frm" name="frm" readonly>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field class="input-full-width">
            <input type="text" matInput placeholder=" To Date" formControlName="tod" name="tod" readonly>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
          <div class="col-md-12">
            <mat-form-field class="input-full-width">
                <textarea
                      matInput
                      type="text"
                      placeholder="Project Description"
                      formControlName="projdescription"
                      name="projdescription" readonly
                    ></textarea>
            </mat-form-field>
          </div>
        </div>
      <div class="row">
          <div class="col-md-12" style="text-align: center;">
              <button mat-raised-button class="closeButton" color="primary" (click)="close()">Close</button>
          </div>
        </div>
    </form>
    </div>
  </div>
</div>
