.portal-dashboard-page-wrapper {
  padding: 16px;
  min-height: 100%;
}

// Widgets
.portal-widget {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.portal-widget__heading {
  text-transform: uppercase;
  padding-left: 12px;
  border-left-width: 2px;
  border-left-style: solid;
  position: relative;
  &:after {
    content: "";
    width: 2px;
    height: 0%;
    position: absolute;
    bottom: 0;
    left: -2px;
    transition: height .5s;
  }
  .portal-widget:hover &:after {
    height: 100%;
  }
}

.portal-widget__content {
  flex: 1 1 100%;
}
// IE 11 fixes
@media all and (-ms-high-contrast:none) {
  .portal-widget {
    display: block;
    padding-bottom: 36px;
  }
}
#IPDonut{
  width: 100%;
  height: 600px;
}
