<!-- <div class="portal-dashboard-page-wrapper app-loader-wrapper">
    <div class="portal-widget" fxFlex="1 0 auto" fxFlex.lg="70">

    </div>

    <div class="portal-widget" fxFlex="1 0 auto" fxFlex.lg="30">
      <p class="portal-widget__heading mat-subheading-2">Active User</p>
      <portal-dashboard-active-users class="portal-widget__content portal-widget__content--primary portal-widget__content--no-padding"></portal-dashboard-active-users>
    </div>


    <div id="chartdiv" style="width: 100%; height: 500px"></div>

</div> -->
<!-- <div><button type="button" class="btn btn-dark" (click)="IPDOnut()">Dark</button></div> -->

<div style="width: 100%; height: 500px"  id="chartdiv"></div>
