
mat-card {
  padding: 0;
  overflow: hidden;
  width: 85%;
  left: 7%;
  margin-top: 8%;
}

mat-table {
  width: 100%;
}

.mat-fab-button{
  height: 30px;
  width: 30px;
}

.mat-icon-add {
  margin-top: -12px;
}


.containerbutton{
  touch-action: none;
  user-select: none;
  -webkit-user-drag: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  right: 12%;
  top: 8%;
  position: absolute;
}


.roles {
  right: 10%;
  position: absolute;
  top: 7%;

}
