<mat-form-field class="roles">
    <mat-select  matBadge="8" matBadgePosition="before"
    placeholder="Choose Role"
    (selectionChange)="onRollSelection($event.value)">
    <mat-option
      *ngFor="let item of rollData"
      [value]="item.RoleId">
    {{item.RoleName}}
    </mat-option>
  </mat-select>
  </mat-form-field>

<mat-card>
  <div>
    <mat-table #table matSort [dataSource]="formData">

      <ng-container matColumnDef="formname">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Form Name
        </mat-header-cell>
        <mat-cell *matCellDef="let form ; let i = index;"> {{form.FormName}} </mat-cell>
      </ng-container>
<!--
      <ng-container matColumnDef="role">
        <mat-header-cell *matHeaderCellDef mat-sort-header>

        </mat-header-cell>
        <mat-cell *matCellDef="let form"> </mat-cell>
      </ng-container> -->

      <ng-container matColumnDef="view">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          View
        </mat-header-cell>
        <mat-cell *matCellDef="let form">
            <mat-checkbox [checked]="form.View == true" (change)="selectView(form,$event)"></mat-checkbox>
          </mat-cell>
      </ng-container>

      <ng-container matColumnDef="edit">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Edit
        </mat-header-cell>
        <mat-cell *matCellDef="let form">
            <mat-checkbox [checked]="form.Edit == true" (change)="selectEdit(form,$event)"></mat-checkbox>

          </mat-cell>
      </ng-container>

      <ng-container matColumnDef="fullpermission">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Full Permission
        </mat-header-cell>
        <mat-cell *matCellDef="let form">
            <mat-checkbox [checked]="form.FullPermission == true" (change)="selectfullpermission(form,$event)"></mat-checkbox>

         </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
  </div>
</mat-card>
<br>
  <button mat-raised-button color="primary"  style="left: 7%;" (click)="updateRoleSatatus(formData)">Update</button><br><br>

