

     <button *ngIf="add" class="mat-fab-button containerbutton" mat-mini-fab color="primary" matTooltip="Add Product"
     (click)="addProductpenDialog()">
      <mat-icon class="mat-icon-add" aria-label="Example icon-button with a heart icon">add</mat-icon>
    </button>

    <button *ngIf="remove" class="mat-fab-button containerbutton" mat-mini-fab color="primary" matTooltip="Cancel"
     (click)="cancelTechnologyopenDialog()">
      <mat-icon class="mat-icon-add" aria-label="Example icon-button with a heart icon">remove</mat-icon>
    </button>

<mat-card *ngIf="showTable">
  <div [@flyInOut]="'in'">
    <mat-table #table matSort [dataSource]="MyTableDataSource">
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Sr.No
        </mat-header-cell>
        <mat-cell *matCellDef="let user; let i = index;"> {{ i+1 }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="poem">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >OEM Name
        </mat-header-cell>
        <mat-cell *matCellDef="let user"> {{user.OEM_Name}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="tname">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Technology Name
        </mat-header-cell>
        <mat-cell *matCellDef="let user"> {{user.TECH_Name}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="pname">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Product Name
        </mat-header-cell>
        <mat-cell *matCellDef="let user"> {{user.PRODUCT_Name}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Description
        </mat-header-cell>
        <mat-cell *matCellDef="let user" matTooltip="{{user.PRODUCT_Description}}">
            {{(user.PRODUCT_Description)? (user.PRODUCT_Description | slice:0:40)+'...':(user.PRODUCT_Description)}}

        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Action
        </mat-header-cell>
        <mat-cell *matCellDef="let user">


          <button mat-icon-button color="accent" matTooltip="Edit Department" (click)="editProductopenDialog(user)">
            <mat-icon aria-label="Example icon-button with a heart icon">edit</mat-icon>
          </button>&nbsp;

        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Status
          </mat-header-cell>
          <mat-cell *matCellDef="let user">


            <button mat-icon-button color="warn" matTooltip="Update Stauts">
              <mat-icon aria-label="Example icon-button with a heart icon" style="color:green"
               *ngIf="user.IsActive == 1" class="fa fa-check"  (click)="statuschange(user)"> </mat-icon>
              <mat-icon aria-label="Example icon-button with a heart icon"
               *ngIf="user.IsActive == 0" class="fa fa-stop"  (click)="statuschange(user)"></mat-icon>
            </button>

          </mat-cell>
        </ng-container>
      <mat-header-row
        *matHeaderRowDef="displayedColumns"

      ></mat-header-row>
      <mat-row
        *matRowDef="let row; columns: displayedColumns"

      ></mat-row>
    </mat-table>

    <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]">
    </mat-paginator>
  </div>
</mat-card>


 <mat-card class="add-card" *ngIf="show" [@flyInOut]="'in'">

    <mat-card-header>
        <mat-card-title>{{cardName}}</mat-card-title>
    </mat-card-header>
    <mat-card-content><br>
      <form [formGroup]="productForm" novalidate>
          <mat-form-field class="input-full-width">
              <mat-select
                        placeholder="Choose OEM"
                        name="oem_id"
                        formControlName="oem_id"
                        (selectionChange)="onOemSelection($event.value)"
                         required
                      >
                      <mat-option *ngFor="let oem of oemData" [value]="oem.OEM_ID">
                          {{ oem.OEM_Name }}
                        </mat-option>
                      </mat-select>
          </mat-form-field><br>

          <mat-form-field class="input-full-width">
              <mat-select
                        placeholder="Choose Technology"
                        name="tname"
                        formControlName="tname"
                        (selectionChange)="onTechnologySelection($event.value)"
                        required
                      >
                      <mat-option *ngFor="let tech of techData" [value]="tech.TECH_ID">
                          {{ tech.TECH_Name }}
                        </mat-option>
                      </mat-select>
          </mat-form-field>

          <mat-form-field class="input-full-width">
              <input type="text" formControlName="productname" matInput placeholder="Enter Product Name">
              <mat-hint>Enter a unique name.</mat-hint>
            </mat-form-field><br>

            <mat-form-field class="input-full-width">
              <input type="text" formControlName="productdesc" matInput placeholder="Enter Product Description">
              <mat-hint>Enter a Description.</mat-hint>
            </mat-form-field>

      </form>
    </mat-card-content>
    <mat-card-actions align="center">

        <button mat-raised-button *ngIf="submit" color="primary" [disabled]="productForm.invalid" (click)="addprouctForm(productForm.value)">Submit</button>
        <button mat-raised-button *ngIf="update" color="primary" [disabled]="productForm.invalid" (click)="updateproductForm(productForm.value)">Update</button>

    </mat-card-actions>

</mat-card>
