<div class="something_sec" style="background-image:url(http://192.168.203.3/sattrixdemo/wp-content/uploads/2018/11/Services_60.jpg);">
	
	<div class="container">
		<div class="row">
			<div class="col-md-5">
				<div class="something_l wow bounceInLeft" style="height: 288px !important; visibility: visible; animation-name: bounceInLeft;">
											<h4>Services</h4>
							
										<p><span class="TextRun SCXW128295067" lang="EN-GB" xml:lang="EN-GB"><span class="NormalTextRun SCXW128295067">Your security is our interest and we make it interesting for you as well. With a rich palette of service offerings, we have something that just suits y</span></span><span class="TextRun SCXW128295067" lang="EN-GB" xml:lang="EN-GB"><span class="NormalTextRun SCXW128295067">our information security needs.</span></span><span class="EOP SCXW128295067" data-ccp-props="{&quot;335551550&quot;:6,&quot;335551620&quot;:6}">&nbsp;</span></p>
				</div>
			</div>
			<div class="col-md-7">
									<div class="something_r wow bounceInDown" style="visibility: visible; animation-name: bounceInDown;">
											
						<div class="something_r__inn" style="height: 296px;">							
							<h5 style="padding-bottom: 14px;text-align: center;"><span style="text-align:center">Assessment &amp; Advisory</span></h5>
								<p style="    padding: 0 0 16px;
    border-top: #f8f9fa solid 2px;"></p><span style="font-size:17px"><p><span style="color: white;"><b>A loophole can become a stepping stone if it is addressed correctly and that’s exactly what we do- understand the main inefficiencies of your security infrastructure and fix them to catalyze your upward surge.</b></span></p>
</span>
							
						</div>						
											
						<div class="something_r__inn" style="height: 296px;">							
							<h5 style="padding-bottom: 14px;text-align: center;"><span>Managed Services</span></h5>
								<p style="    padding: 0 0 16px;
    border-top: #f8f9fa solid 2px;"></p><span style="font-size:17px"><p><span style="color: white;"><b>The idea of personalization is never sufficiently personalized unless you involve someone with deep knowledge and vast experience. Sattrix manages your jigsaws and creates a relevant larger picture.</b></span></p>
</span>
							
						</div>						
											
						<div class="something_r__inn" style="height: 296px;">							
							<h5 style="padding-bottom: 14px;text-align: center;"><span>Professional Services</span></h5>
								<p style="    padding: 0 0 16px;
    border-top: #f8f9fa solid 2px;"></p><span style="font-size:17px"><p><span style="color: white;"><b>A solution in need is a solution indeed, in fact the only one worth mentioning. Sattrix PS makes you mention all of them when the time comes, because you know that those are the ones tuned to perfection.</b></span></p>
</span>
							
						</div>						
											
						<div class="something_r__inn" style="height: 296px;">							
							<h5 style="padding-bottom: 14px;text-align: center;"><span>Cloud Security</span></h5>
								<p style="    padding: 0 0 16px;
    border-top: #f8f9fa solid 2px;"></p><span style="font-size:17px"><p><span style="color: white;"><b>The clouds have always intrigued yet baffled us and the case with security is no different. When Sattrix takes you to the clouds, it ensures that your new home is safer than your old one and up is the only way you go. </b></span></p>
</span>
							
						</div>						
													</div>
		</div>
	</div>
</div>

		
	</div>