<div fxLayout="column" fxLayout.lg="row" fxLayoutGap="16px">
  <div fxFlex="1 0 auto" fxFlex.lg="100">
    <dashboard-gdax-ticker></dashboard-gdax-ticker>
  </div>
</div>
<div class="portal-dashboard-page-wrapper">
  <div fxLayout="column" fxLayout.lg="row" fxLayoutGap="16px">
    <div class="portal-widget" fxFlex="1 0 auto" fxFlex.lg="70">
      <div id="IPDonut"></div>
    </div>

    <div class="portal-widget" fxFlex="1 0 auto" fxFlex.lg="30">
      <portal-dashboard-annual-performance class="portal-widget__content portal-widget__content--no-padding"></portal-dashboard-annual-performance>
    </div>
  </div>
  <div fxLayout="column" fxLayout.md="row" fxLayout.lg="row" fxLayoutGap="16px">
    <div class="portal-widget" fxFlex="1 0 auto" fxFlex.lg="30">
      <portal-dashboard-most-popular class="portal-widget__content portal-widget__content--no-padding"></portal-dashboard-most-popular>
    </div>
    <div class="portal-widget" fxFlex="1 0 auto" fxFlex.lg="70">
      <portal-dashboard-market-cap class="portal-widget__content portal-widget__content--no-padding"></portal-dashboard-market-cap>
    </div>
  </div>
</div>
