<mat-card>
    <mat-card-header>
        <mat-card-title>{{cardName}}</mat-card-title>
        <!-- <mat-card-subtitle>Subtitle</mat-card-subtitle> -->
    </mat-card-header><br>

    <mat-card-content>
        <form [formGroup]="roleForm" novalidate>
            <mat-form-field class="input-full-width">
              <input type="text" formControlName="rolename" matInput placeholder="Enter Role Name" required>
              <mat-error>Role name is mandatory</mat-error>
            </mat-form-field>

            <mat-form-field class="input-full-width">
              <input type="text" formControlName="roledesc" matInput placeholder="Enter Role Description" required>
              <mat-error>Role description is mandatory</mat-error>
            </mat-form-field>
          </form>
    </mat-card-content>
    <mat-card-actions align="center">
        <button mat-stroked-button color="primary" (click)="closeDialog()">Cancel</button>&nbsp;&nbsp;

        <!-- Department action -->
        <button *ngIf="!updateID" mat-stroked-button color="primary" [disabled]="roleForm.invalid"
          (click)="submitRole(roleForm.value)">Submit</button>
        <button *ngIf="updateID" mat-stroked-button color="primary"
          (click)="updateRole(roleForm.value)" [disabled]="roleForm.invalid">Update</button>

    </mat-card-actions>
</mat-card>
