
.grid-container {
    margin-top: 0;
  }

  .user-row {
    margin: 0;
    min-height: 52px;
  }

  mat-card {
    padding-left: 4;
    overflow: hidden;
    width: 90%;
    left: 3%;
    margin-top: 35px;
  }

  .portal-mat-table-example {
    overflow: auto;
    min-width: 95%;
    margin-top: 100px;
  }

  mat-table {
    width: 100%;
  }

  .button {
    margin-top: 43px;
    right: 3%;
    align-content: right;
    /* left: 0%; */
    position: absolute;
  }

  .saveandnextbutton{
    position: absolute;
      right: 2%;
  }

  .full-with-field {
    width: 45%;
  }


  .mat-form-field2{
    margin-left: 5%;
  }
  .mat-horizontal-stepper-header{
    pointer-events: none;
  }

  .mat-fab-button{
  margin-left: 4%;
}


.asform {
  left: 22px;
  position: relative;
}

// :host ::ng-deep .mat-form-field-wrapper {
//   left: 5%!important;
// }


mat-cell:nth-of-type(7), mat-footer-cell:nth-of-type(7), mat-header-cell:nth-of-type(7){
  max-width: 13%;
  text-align: center;
}


mat-cell:nth-of-type(8){
  // max-width: 13%;
  // text-align: center;
  left: 30px;
  position: relative;
}
