<div class="grid-container">
  <div class="row middle-xs middle-sm middle-md middle-lg user-row">
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7 filter-col">
      <mat-form-field *ngIf="showFilter" style="top: 29px; left: 25px;">
        <input matInput (keyup)="applyFilter($event.target.value)" type="text" placeholder="Search" />
      </mat-form-field>
    </div>
    <div class="col-xs-12 col-sm-1 col-md-1 col-lg-1 filter-icon-col"></div>
    <div class="col-xs-12 col-sm-1 col-md-1 col-lg-1 user-btn-col"></div>
  </div>
  <mat-card>
    <div *ngIf="showEmptable" [@flyInOut]="'in'">
      <mat-table #table matSort [dataSource]="MatTableData">
        <ng-container matColumnDef="org">
          <mat-header-cell *matHeaderCellDef mat-sort-header>CUSTOMER
          </mat-header-cell>
          <mat-cell *matCellDef="let user" matTooltip="{{ user.org }}"> {{ user.org }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="porjectName">
          <mat-header-cell *matHeaderCellDef mat-sort-header>PROJECT
          </mat-header-cell>
          <mat-cell *matCellDef="let user" matTooltip="{{ user.porjectName }} ">
              {{(user.porjectName)? (user.porjectName | slice:0:8)+'...':(user.porjectName)}}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="department">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            DEPARTMENT
          </mat-header-cell>
          <mat-cell *matCellDef="let user" matTooltip="{{ user.department }}">
              {{(user.department)? (user.department | slice:0:8)+'...':(user.department)}}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="technology">
          <mat-header-cell *matHeaderCellDef mat-sort-header>TECHNOLOGY
          </mat-header-cell>
          <mat-cell *matCellDef="let user" matTooltip="{{ user.technology }}">{{ user.technology }} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="competence">
          <mat-header-cell *matHeaderCellDef mat-sort-header>COMPETENCE
          </mat-header-cell>
          <!-- <mat-cell *matCellDef="let user">{{ user.competence }} </mat-cell> -->
          <mat-cell *matCellDef="let user" matTooltip="{{ user.competence }}">
              {{(user.competence)? (user.competence | slice:0:10)+'...':(user.competence)}}
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="fdate">
          <mat-header-cell *matHeaderCellDef mat-sort-header>FROM
          </mat-header-cell>
          <mat-cell *matCellDef="let user" matTooltip="{{ user.fdate }}">{{ user.fdate }} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="tdate">
          <mat-header-cell *matHeaderCellDef mat-sort-header>TO
          </mat-header-cell>
          <mat-cell *matCellDef="let user" matTooltip="{{ user.tdate }}">{{ user.tdate }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="count">
          <mat-header-cell *matHeaderCellDef mat-sort-header>REQUIREMENT
          </mat-header-cell>
          <mat-cell *matCellDef="let user" matTooltip="{{ user.PRJD_COUNT }}">{{ user.PRJD_COUNT }} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Manage">
          <mat-header-cell *matHeaderCellDef mat-sort-header>MANAGE
          </mat-header-cell>
          <mat-cell *matCellDef="let user">
            <button mat-raised-button color="primary" title="click" (click)="assign(user)">
              ASSIGN
            </button>
          </mat-cell>
        </ng-container>
        <!-- {{user.status1 == 0 ? "ASSIGN" : "RE-ASSIGN"}} -->
        <mat-header-row *matHeaderRowDef="displayedColumns" style="text-align:center;"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns" style="text-align:center;"></mat-row>
      </mat-table>
      <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]">
      </mat-paginator>
    </div>

    <div *ngIf="showAddempform" [@flyInOut]="'in'">
      <form [formGroup]="projectFormGroup" novalidate>
        <ng-template>Organization Requirment Details</ng-template>
        <div class="container asform">
          <div class="row">
            <mat-form-field class="full-with-field">
              <input matInput type="text" name="Organization" formControlName="Organization"
                placeholder="Organization :" readonly />
              <mat-error *ngIf="submitted && f.Organization.errors">
                <mat-error *ngIf="f.Organization.errors.required">Organization Name is mandatory*</mat-error>
              </mat-error>
            </mat-form-field>
            <mat-form-field class="full-with-field  mat-form-field2">
              <input matInput type="text" name="projectName" formControlName="projectName" placeholder="Project Name :"
                readonly />
              <mat-error *ngIf="submitted && f.projectName.errors">
                <mat-error *ngIf="f.projectName.errors.required">Project Name is mandatory*</mat-error>
              </mat-error>
            </mat-form-field>

          </div>
          <div class="row">
            <mat-form-field class="full-with-field">
              <input matInput type="text" name="fdate" formControlName="fdate" placeholder="From :" readonly />
            </mat-form-field>

            <mat-form-field class="full-with-field mat-form-field2">
              <input matInput type="text" name="tdate" formControlName="tdate" placeholder="TO :" readonly />
            </mat-form-field>
          </div>

          <div class="row">
            <mat-form-field class="full-with-field ">
              <input matInput type="text" name="department" formControlName="department" placeholder="DEPARTMENT :"
                readonly />
            </mat-form-field>
          </div>

          <div class="row">
            <mat-form-field class="full-with-field ">
              <input matInput type="text" name="technology" formControlName="technology" placeholder="Technology :"
                readonly />
            </mat-form-field>

            <mat-form-field class="full-with-field mat-form-field2">
              <input matInput type="text" name="positions" formControlName="positions" placeholder="COMPETENCE :"
                readonly />
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field class="full-with-field" style="width: 20%">
              <mat-select placeholder="Available Employee" name="aEmployee" formControlName="aEmployee" required>
                <mat-option *ngFor="let aemp of availemployee" [value]="aemp">
                  {{ aemp.EName }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="submitted && f.aEmployee.errors">
                <mat-error *ngIf="f.email.aEmployee.required">EMPLOYEE Is Mandatory*</mat-error>
              </mat-error>
            </mat-form-field>
            <mat-form-field class="full-with-field mat-form-field2" style="width: 20%">
              <mat-select placeholder="Allocate Employee" name="bEmployee" formControlName="bEmployee">
                <mat-option *ngFor="let bemp of busyemployee" [value]="bemp">
                  {{ bemp.EName }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="submitted && f.bEmployee.errors">
                <mat-error *ngIf="f.email.bEmployee.required">Employee Is Mandatory*
                </mat-error>
              </mat-error>
            </mat-form-field>

            <mat-form-field class="full-with-field mat-form-field2" style="width: 15%">

              <input matInput [matDatepicker]="picker"
               [min]="fmaxdate" [max]="Atdate ? Atdate :tomindate"
              placeholder="From Date" formControlName="Afdate"
                (dateChange)="getFromdate($event.target.value)" name="Afdate"  [(ngModel)]="Afdate" readonly>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <mat-error *ngIf="submitted && f.Afdate.errors">
                <mat-error *ngIf="f.Afdate.errors.required">From Date is mandatory*</mat-error>
              </mat-error>
            </mat-form-field>

            <mat-form-field class="full-with-field mat-form-field2" style="width: 15%">
              <input matInput [matDatepicker]="picker1"
              [max]="tomindate"
              [min]="Afdate ? Afdate : fmaxdate"
              placeholder="To Date" [(ngModel)]="Atdate" formControlName="Atdate"
                (dateChange)="getTodate($event.target.value)" name="Atdate" readonly>
              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
              <mat-error *ngIf="submitted && f.Atdate.errors">
                <mat-error *ngIf="f.Atdate.errors.required">To Date is mandatory*</mat-error>
              </mat-error>
            </mat-form-field>

            <button type="button" class="mat-fab-button" mat-mini-fab color="primary" matTooltip="Add More"
              (click)="adddata()">
              <mat-icon class="mat-icon-add" aria-label="Example icon-button with a heart icon">add</mat-icon>
            </button>
          </div>
          <br>
          <P></P>
          <P></P>
          <div *ngIf="tableShow" class="content table-responsive table-full-width">
            <table class="table table-bordered table-sm">
              <thead class="thead-light">
                <tr>
                  <th>Sr. No.</th>
                  <th>EMPLOYEE</th>
                  <th>FROM</th>
                  <th>TO</th>
                  <th>MANAGE</th>
                </tr>
              </thead>
              <tr *ngFor="let product of employeedetails; let i = index">
                <td>{{ i + 1 }}</td>
                <td *ngIf="projId">{{ product.aEmployee }}</td>
                <td *ngIf="!projId">{{ product.aEmployee.EName }}</td>
                <td>{{ product.fdate | date }}</td>
                <td>{{ product.tdate | date }}</td>
                <td><button mat-mini-fab color="warn" (click)="removeparticular(i)">
                    <mat-icon>delete</mat-icon>
                  </button></td>
              </tr>
            </table>
          </div>
        </div><br>
        <button *ngIf="!projId" (click)="submit(projectFormGroup.value)" mat-raised-button color="primary">SAVE</button>
        <button *ngIf="projId" mat-raised-button color="primary" (click)="ReAssignedProject(employeedetails)">UPDATE</button>
      </form>
    </div>
  </mat-card>
</div>
